/*--------------------------------------------------------------
# My Account
--------------------------------------------------------------*/

.plnt-customer-login, .plnt-customer-register {
    background: var(--background);
    justify-content: center; 
}


.plnt-customer-login .u-column2 {
    display: none;
}

.plnt-customer-register .u-column1 {
    display: none;
}

.login-popup .page-popup__container, .register-popup .page-popup__container {
    max-width: 600px;
}

.login__close, .register__close {
    position: absolute;
    top: 50px;
    right: 50px;
}

@media (max-width: 767px) {
    .login__close, .register__close {
        top: 45px;
        right: 15px;
    }
}

.login__close:hover, .register__close:hover {
    cursor: pointer;
}


#customer_login, .u-column2 {
    display: flex;
    margin-top: 30px;
    column-gap: 50px;
    /* row-gap: 30px; */

    flex-direction: column;
    /* align-items: center; */

    width: 100%;
}

#customer_login > div, .u-column2 > div {
    min-width: 400px;
}

.woocommerce-form-login {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(1, auto);
    grid-template-areas: 
    "name"
    "password"
    "forgot"
    "button"
    "registartion";
}

#customer_login h2, .u-column2 h2 {
    margin-bottom: 20px;
    /* cursor: pointer; */
}

/* #customer_login .h2_opened {
    cursor: default;
}

#customer_login h2:hover {
    color: var(--accent-color);
}

#customer_login .h2_opened:hover {
    color: var(--text);
} */

#customer_login form p, .u-column2 form p  {
    margin-bottom: 10px;
    line-height: 1.2;
}

#customer_login form .woocommerce-form-row--wide, .u-column2 form .woocommerce-form-row--wide {
    /* margin-bottom: 40px; */
    display: flex;
    flex-direction: column;
}

#customer_login form .woocommerce-form-row--wide:first-child {
    margin-bottom: 40px;
}

#customer_login form input, .u-column2 form input {
    padding: 14px 20px;
    border: 1px solid #ccc;
    width: 100%
}

#customer_login form input[name="rememberme"] {
    width: fit-content;
    height: fit-content;
    margin-right: 6px;
}

#customer_login form .woocommerce-form-login__rememberme {
    text-transform: none;
    font-size: 14px;
    color: black;
    font-weight: 500;
}

#customer_login form p label, .u-column2 form p label {
    margin-bottom: 8px;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: #a7a7a7;
    display: flex;
    align-items: flex-start;
}

#customer_login form .woocommerce-LostPassword {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    grid-area: forgot;
    justify-self: end;
}

.login-form__registration-btn {
    font-weight: 800;
    grid-area: registartion;
    justify-self: center;
    color: var(--accent-color);
    cursor: pointer;
}

.register-form__login-btn {
    font-weight: 800;
    color: var(--accent-color);
    text-align: center;
    cursor: pointer;
}

.form-row:nth-child(1) {
    grid-area: name;
}
.form-row:nth-child(2) {
    grid-area: password;
}
.form-row:nth-child(3) {
    grid-area: button;
}

.u-column2 form .woocommerce-privacy-policy-text p {
    display: block;
}

#customer_login form button, .u-column2 form button {
    color: var(--white);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    width: 100%;
    margin: 20px 0;
}


@media (max-width: 767px) {
    #customer_login, .u-column2 {
        display: flex;
        flex-direction: column;
    }
    
    #customer_login div, .u-column2 div {
        width: 100%;
    }
}

.showlogin {
    color: var(--accent-color);
    font-weight: 700;
}

.woocommerce-MyAccount-navigation {
    margin-top: 30px;
    margin-bottom: 30px;
}

.woocommerce-MyAccount-navigation ul {
    display: flex;
    column-gap: 5px;
    text-transform: uppercase;
    font-weight: 700;
    align-items: baseline;
    justify-content: space-between;
    max-width: 400px;
}

.woocommerce-MyAccount-navigation ul li:last-of-type{
    background-color: var(--accent-color);
    padding: 10px 9px 9px 9px;
    color: var(--white);
    border-radius: 3px;
}

.woocommerce-MyAccount-content p {
    margin-bottom: 10px;
}

.woocommerce-MyAccount-content a{
    text-decoration: underline;
}

.woocommerce-Address-title h3 {
    display: none;
}

.woocommerce-Address-title {
    margin-bottom: 20px;
}

.woocommerce-EditAccountForm p {
    margin-bottom: 20px;
}

.woocommerce-EditAccountForm button {
    margin-top: 20px;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white);
}

/* список заказов */

.woocommerce-MyAccount-orders th {
    text-align: left;
    max-width: 100px;
    vertical-align: top;
    padding: 5px;
}

@media (max-width:767px) {
    .woocommerce-orders-table__header-order-delivery-date, .woocommerce-orders-table__cell-order-delivery-date {
        display: none;
    }
    .woocommerce-orders-table__header-order-total, .woocommerce-orders-table__cell-order-total {
        display: none;
    }
}

.woocommerce-MyAccount-content .woocommerce-table--order-details th, .woocommerce-MyAccount-content .woocommerce-table--order-details td {
    text-align: left;
    vertical-align: top;
    padding: 5px 5px 5px 0px;
}

.woocommerce-MyAccount-content mark {
    background: var(--accent-back);
}



