
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* padding: 9px 14px; */
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem); /* 16px - 14px */
  font-weight: 500;
  white-space: nowrap;
  /* background-color: var(--accent-color); */
  color: inherit;
  border: none;
  border-radius: var(--button-br);
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
}

.button--transparent {
  --btn-border-color: var(--white-color);
  border: 1px solid var(--btn-border-color);
  padding: 11px 20px;
}

.button--transparent .icon {
  --gap: 12px;
}

@media (max-width:767px) {
  .button--transparent {
    padding: 9px 16px;
  }

  .button--transparent .icon {
    --gap: 8px;
  }
}

.button--white,
.add_to_cart_button.button--white, 
.product_type_simple.button--white {
  width: 100%;
  background-color: var(--white-color);
  color: var(--accent-color);
  padding: 11px;
  height: var(--btn-height, 42px);
}

.button--white span {
  margin: 0 0.25em;
}

@media (max-width:767px) {
  .button--white span{
    display: none;
  }
}

.button--green-l {
  background-color: var(--green-l-color);
  color: var(--accent-color);
  padding: 11px;
  height: var(--btn-height, 42px);
}

.header__main-catalog-btn {
  background-color: var(--green-l-color);
  padding: 9px 14px;
  gap: 8px;
}

.header__main-catalog-btn .burger {
  color: var(--accent-color);
}

.header__main-catalog-btn.is-open {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.header__main-catalog-btn.is-open .burger {
  color: var(--white-color);
}

.wpcf7-submit {
  box-sizing: border-box;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  /* text-align: center; */
  text-decoration: none;

  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 30px;
  
  padding: 10px;
}

.wpcf7 form input[type=submit].is-disabled,
.wpcf7 form button[type=submit].is-disabled {
  opacity: .5;
  pointer-events: none;
}

.wpcf7 form.init .wpcf7-response-output {
    display: block;
    visibility: hidden;
    opacity: 0%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0s, transform 0.7s;
}

.wpcf7 form.sent .wpcf7-response-output {
    border: none;
    font-size: 18px;
    padding: 30px 20px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 23px;
    box-shadow: 0 18px 39px 0 rgba(0, 0, 0, .102), 0 72px 72px 0 rgba(0, 0, 0, .09);
    visibility: visible;
    opacity: 100%;
}

.wpcf7 form.invalid .wpcf7-response-output {
    border: none;
    font-size: 18px;
    padding: 30px 20px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 23px;
    box-shadow: 0 18px 39px 0 rgba(0, 0, 0, .102), 0 72px 72px 0 rgba(0, 0, 0, .09);
    visibility: visible;
    opacity: 100%;
}

.button:hover, .button:active, .button:focus, .wpcf7-submit:hover { 
    text-decoration: none;
}

@media (hover: hover) {
    /* .button:hover, .wpcf7-submit:hover { 
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
    } */

    .side-cart__close:hover {
        box-shadow: none;
        cursor: pointer;
    }

}