/* сетка карточки и расположение элементов */

.card__grid {
    display: grid;
    grid-template-columns: 45% 35% 25%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "image info price"
    "descr up-sells up-sells"
    "descr cross-sells cross-sells";
    column-gap: 20px;
    row-gap: 20px;
}

.card__image-wrap {
    grid-area: image;
    position: relative;
}

.woocommerce-product-gallery__trigger {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
}

.summary {
    grid-area: info;
}

.card__price-wrap {
    grid-area: price;
}

.card__description {
    grid-area: descr;
}
.card__description p {
    margin: 0;
}

.up-sells {
    grid-area: up-sells;
}

.cross-sells {
    grid-area: cross-sells;
}


/* стили элементов */

.product_title {
    font-size: 28px;
    font-weight: 700;
    text-transform: none;
    line-height: 34px;
    margin-bottom: 15px;
}

.card__grid .woocommerce-product-details__short-description {
    margin-bottom: 15px;
}

.product__artikul {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 35px;
}

.product__attributes h2 {
    margin-bottom: 15px;
}

.woocommerce-product-attributes {
    text-align: left;
}

.woocommerce-product-attributes th, .woocommerce-product-attributes td {
    padding: 10px 0 0;
}



/* скрываем лишнее */

/* скрываем кол-во товаров в наличии */
.stock {
    display: none;
}

/* скрываем стрелочки внутри поля ввода кол-ва */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* ссылка на просмотр корзины после добавления */
.added_to_cart .wc-forward {
    display: none;
}