/* card banner */

.card__banner {
  --banner-padding: clamp(1rem, 0.9043rem + 0.4255vw, 1.25rem);
  --banner-image-width: 0px;
  --banner-image-height: 0px;

  position: relative;
  overflow: hidden;

  min-height: var(--banner-image-height);
  padding: var(--banner-padding);
  border-radius: var(--br-m);
  background-color: var(--green-l-color);

  font-size: 14px;
}

.card__banner-title {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
}

.card__banner-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__banner-icon--stock {
  background-color: var(--stock-color);
}

.card__banner-pill {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--white-color);
}

.card__banner-pill--grid {
  display: grid;
  gap: 22px;
}

.card__banner-pill--row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.card__banner-image {
  position: absolute;
  right: var(--banner-padding);
  bottom: 0;
  width: var(--banner-image-width);
  height: var(--banner-image-height);
}

/* social */

.card__banner .social-media__buttons {
  margin-top: 16px;
  gap: 10px;
}

.card__banner .social-media__button {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(60, 118, 98, 0.12);
}

/* photo */

.card__banner--photo {
  --banner-image-width: 130px;
  --banner-image-height: 131px;

  display: grid;
  grid-template-columns: 1fr var(--banner-image-width);
  gap: 10px;

  background: linear-gradient(104.67deg, #3c7662 0%, #5cc8a3 100%);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
  overflow: hidden;
}

.card__banner--photo .card__banner-photo-wrap {
  grid-column: 1;
}

.card__banner--photo .social-media__button {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.12);
}

@media (max-width: 440px) {
  .card__banner--photo {
    --banner-image-width: 119px;
    --banner-image-height: 128px;
    grid-template-columns: 260px auto;
  }
  .card__banner--photo .card__banner-image {
    right: 0;
    bottom: -13px;
  }
}
@media (max-width: 340px) {
  .card__banner--photo {
    --banner-image-width: 100px;
    --banner-image-height: auto;
  }
}

/* backorder */

.card__banner--backorder {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "icon title date"
    "icon text date";
  column-gap: 12px;
}

.card__banner--backorder .card__banner-icon {
  grid-area: icon;
}

.card__banner--backorder .card__banner-title {
  grid-area: title;
}

.card__banner--backorder .card__banner-text {
  grid-area: text;
}

.card__banner--backorder .card__banner-pill {
  grid-area: date;
}

.card__banner-backorder-date {
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
}

@media (max-width: 500px) {
  .card__banner--backorder {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "icon title"
      "icon text"
      "x date";
    column-gap: 12px;
  }
  .card__banner--backorder .card__banner-text {
    margin-bottom: 12px;
  }
  .card__banner--backorder .card__banner-pill {
    gap: 10px;
  }
}
/* out of stock */

.card__banner--outofstock {
  --banner-image-width: 180px;
  --banner-image-height: auto;

  display: grid;
  grid-template-columns: calc(var(--banner-image-width) - var(--banner-padding) - 35px) 1fr;
  gap: 10px;
}

.card__banner--outofstock .card__banner-image {
  right: auto;
  left: -15px;
  bottom: -20px;
}

.card__banner--outofstock .card__banner-outofstock-wrap {
  grid-column: 2;
}

@media (max-width:550px) {
  .card__banner--outofstock {
    --banner-image-width: 135px;
    grid-template-columns: 1fr;
  }
  .card__banner--outofstock .card__banner-text {
    max-width: calc(100% - 90px);
  }
  .card__banner--outofstock .card__banner-image {
    right: -20px;
    left: auto;
    bottom: -20px;
  }
}
/* backorder info */

.card__banner--backorder-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "icon title"
    "icon text"
    "icon date";
  align-items: start;
  column-gap: 12px;

  max-height: 0;
  padding: 0 var(--banner-padding);
  overflow: hidden;
  opacity: 0;

  margin-bottom: 0px;

  transition:
    max-height 0.4s ease,
    padding 0.4s ease,
    margin-bottom 0.4s ease,
    opacity 0.2s ease;
}

.card__banner--backorder-info.is-active {
  max-height: 180px;
  padding: var(--banner-padding);
  margin-bottom: 24px;
  opacity: 1;
  scroll-margin-bottom: calc(var(--cardActionsHeight) + var(--headerNavHeight) + 10px);
}

.card__banner--backorder-info .card__banner-icon {
  grid-area: icon;
}

.card__banner--backorder-info-title {
  grid-area: title;
  font-weight: 600;
  color: var(--black-color);
}

.card__banner--backorder-info-text {
  grid-area: text;
}

.card__banner--backorder-info .card__banner-pill {
  grid-area: date;
  margin-top: 12px;
}


@media (max-width: 768px) {
    .card__banner .card__banner--backorder-info {
        display: none;
    }
}

@media (max-width: 768px) {
    .card__price-wrap .card__banner--backorder-info {
        top: 200%;
        bottom: auto;
        transition: top 2s, opacity 0s 1.8s;
    }

    .card__price-wrap .card__banner--backorder-info.is-active {
        top: -100%;
        bottom: auto;
        transition: top 2s, opacity 0s;
    }
}

@media (min-width: 767px) {
  .card__price-wrap .card__banner--backorder-info {
      display: none;
  }
}

/* peresadka */

.card__banner--peresadka {
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  font-size: 16px;
}

.card__banner--peresadka a:hover {
  opacity: 75%;
}

.card__banner--peresadka cite{
  font-size: 12px;
  opacity: 75%;
  font-style: normal;
}

@media (min-width: 360px) {
  .card__banner--peresadka {
    background-position-x: 50% ;
  }
  .card__banner--peresadka cite {
    max-width: 210px;
    display: block;
  }
}
