.product {
    display: grid;
    grid-template-columns: 50% 35% 20%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "photo info price"
    "descr up-sells up-sells";
    column-gap: 20px;
    row-gap: 20px;
}

.onsale {
    grid-area: photo;
}

.woocommerce-product-gallery {
    grid-area: photo;
}

.summary {
    grid-area: info;
}

.up-sells {
    grid-area: up-sells;
}

.related {
    grid-area: up-sells;
}