/* скрываем кнопку "Обновить корзину" */

.woocommerce-cart-form [name="update_cart"] {
    display: none;
}

/* таблица корзины */

.shop_table {
    border-spacing: 10px;
    border-collapse: separate;
}



th.product-remove {
    min-width: 50px;
}

td.product-remove {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

th.product-thumbnail {
    width: 250px;
}

td.product-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
}
