/* скрываем кнопку "Обновить корзину" */

.woocommerce-cart-form [name="update_cart"] {
    display: none;
}

/* блок итого */

.cart_totals {
    margin: 15px 0;
    display: flex;
    column-gap: 20px;
}

.cart_totals .checkout-button {
    color: var(--white);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.cart_totals .order-total {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
}

.cart_totals .woocommerce-Price-amount {
    font-size: 30px;
}
/* таблица корзины */

.shop_table {
    border-spacing: 10px;
    border-collapse: separate;

    thead {
        text-transform: uppercase;
        text-align: left;
    }

    th.product-remove {
        min-width: 50px;
    }

    th.product-thumbnail {
        width: 250px;
    }

    th.product-name {
        width: 400px;
    }
    
    td.product-remove {
        font-size: 30px;
        font-weight: 700;
        text-align: left;
    }

    td.product-name, td.product-price, td.product-subtotal {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
    }

    td.product-quantity {

      .quantity {
            width: fit-content;
            border-radius: 5px;
            display: flex;
            /* box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.15); */
        }
        
        .quantity button {
            border: none;
            background-color: var(--background);
            line-height: 1;
            border-radius: 5px
        }
        
        .quantity .plus {
            font-size: 30px;
            font-weight: 600;
        }
        
        .quantity .minus {
            font-size: 40px;
        }
        
        .quantity input {
            border: none;
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            background-color: var(--background);
            max-width: 100px;
        }
    }


}