/* catalog__header */
.content-area:has(.catalog__header) {
  --over-size: min(40px, calc((100dvw - var(--container)) / 2) + var(--container-padding));
  --pad: clamp(1.25rem, -0.5545rem + 3.7594vw, 2.5rem); /* 40px - 20px on 768 */
  --header-img-height: clamp(7.5rem, -3.6111rem + 23.1481vw, 13.75rem); /* 220px - 120px на 768x*/
}

.catalog__header {
  --img-width: calc(var(--header-img-height) * 2);
  --br:20px;
  position: relative;
  margin-bottom: clamp(0.75rem, 0.1324rem + 2.7451vw, 2.5rem);;
}

.content-area:has(.catalog__header) {
  position: relative;
}

.content-area:has(.catalog__header) .woocommerce-breadcrumb {
  position: absolute;
  top: var(--pad); 
  z-index: 2;
}

.catalog__header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-block: var(--pad);
  background:  var(--darken-bg);
  min-height: var(--header-img-height);
  overflow: visible;
}

.catalog__header-inner::before {
  content: "";
  background:  var(--darken-bg);
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--over-size);
  left: calc(0px - var(--over-size));
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
}

.catalog__header-inner::after {
  content: "";
  background:  var(--darken-bg);
  position: absolute;
  top: 0;
  height: 100%;
  width: var(--over-size);
  right: calc(0px - var(--over-size));
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

.content-area:has(#yith-wcwl-form) .catalog__header-inner::after {display: none;}

.catalog__header-image-wrap {
  width: fit-content;
  max-height: var(--header-img-height);
  position: absolute;
  right: calc(0px - var(--over-size));
  top: 0;
  overflow: hidden;
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
}

.catalog__header-image {
  max-height: var(--header-img-height);
  width: auto;
} 

.woocommerce-products-header {
  display: flex;
  align-items: end;
  max-width: calc(100% - var(--img-width));
}

@media (max-width:1300px) {
  .catalog__header-inner {
    --over-size: var(--container-padding)
  }
}

@media (max-width:1024px) {
  /* .catalog__header-inner {
    padding: 0;
    padding-bottom: var(--pad);
  } */

  .content-area:has(.catalog__header) .woocommerce-breadcrumb {
    position: static;
    margin-bottom: 12px;
  }
}

@media (max-width:768px) {
  .catalog__header-inner {
    border-radius: var(--br);
    overflow: hidden;
    padding-left: var(--pad);
  }

  .content-area:has(.catalog__header) .woocommerce-breadcrumb {
    padding-left: var(--pad);
  }
}

/* catalog__grid */

.catalog__grid {
  --sidebar: clamp(12.5rem, 4.5602rem + 16.5414vw, 18rem);
  --gap: clamp(1.25rem, 0.8088rem + 1.9608vw, 2.5rem);;
  display: grid;
  grid-template-columns:var(--sidebar) calc(100% - var(--sidebar) - var(--gap));
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "sidebar sorting"
  "sidebar catalog";
  column-gap: var(--gap);
} 

/* #adaptive for grid*/

@media (max-width: 768px) {
  .catalog__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "sidebar"
      "sorting"
      "filters"
      "catalog";
  }

  .catalog__mob-filter-wrap .woocommerce-ordering {
      display: flex;
  }
  .catalog__mob-filter-wrap .woocommerce-ordering select {
      display: block;
  }

  .catalog__mob-filter-wrap {
      grid-area: filters;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      align-items: center;
      padding: 0;
      background-color: var(--background);
  }


  .catalog__filter-wrap {
    position: sticky;
    top: 54px;
    z-index: 9000;
    background-color: var(--background);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: top 0.4s;
  }

  .catalog__filter-wrap_up {
      top: -80px;
  }
}

/* catalog__top */

.catalog__top {
  display: flex;
  gap: clamp(0.5rem, 0.2353rem + 1.1765vw, 1.25rem);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .catalog__top {
    margin-bottom: 16px;
    padding-inline: 16px;
  }
}

.catalog__mob-filter-btn {
  --btn-pad-inline: 16px;
  --btn-pad-block: 10px;
}

/* woocommerce-ordering */

.woocommerce-ordering {
  position: relative;
  display:flex;
  align-items:center;
  min-height: 20px;
  gap:8px;
  color:var(--gray-color); /* цвет иконки через currentColor */
}

.woocommerce-ordering select {
  min-height: 20px;
  padding-left: 28px;
  padding-right: 24px;
  outline: none;
  border-radius: 5px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  color: var(--black-color);
  width: 100%;
}

.woocommerce-ordering::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: currentColor;
  mask-image: var(--ordering-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  pointer-events: none;
}
.woocommerce-ordering::after{
  content:"";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%);
  width: 16px;
  height: 16px;
  background-color: var(--gray-l-color);
  mask-image: var(--chevron-down-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  pointer-events: none;
}

@media (max-width: 768px) {
  .woocommerce-ordering {
    width: 100%;
    min-height: 36px;
  }
  .woocommerce-ordering select{
    padding: 10px 8px;
    margin-left: 24px;
    min-height: 36px;
    font-size: 12px;
    /* border-radius: 6px;
    background-color: var(--green-l-color); */
    background: transparent;
  }
  .woocommerce-ordering::before {
    left: 8px;
    top:10px;
    right: auto;
    width: 16px;
    height: 16px;
    color: var(--accent-color);
    z-index: 1;
  }

  .woocommerce-ordering::after {
    content:"";
    position: absolute;
    left: 0;
    mask-image:none;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background: var(--green-l-color);
    z-index: -1;
  }
}


/* woocommerce-result-count */

.woocommerce-result-count {
  color: var(--gray-l-color);
}

@media (max-width: 768px) {
  .catalog__top .woocommerce-result-count {
    display: none !important;
  }
}

/* catalog__grid-buttons */

.catalog__grid-buttons {
  position: relative;
  justify-self: end;
  display: flex;
  align-items: center;
  column-gap: 2px;
  padding: 2px;
  background-color: var(--green-l-color);
  border-radius: 10px;
  z-index: -2;
}

/* @media (max-width: 1280px) {
  .catalog__grid-buttons {
    display: none;
  }
} */

.catalog__grid-buttons::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  background-color: var(--white-color);
  border-radius: 10px;
  z-index: -1;
  transition-duration: var(--transition-duration);
  pointer-events: none;
}

.catalog__grid-buttons:has(#catalog__btn-rows:disabled)::before {
  left: 40px;
}

.catalog__grid-button {
  --btn-pad-inline: 8px;
  --btn-pad-block: 8px;
  padding: 8px;
  background-color: transparent;
  color: var(--gray-l-color);
}

.catalog__grid-button:disabled {
  color: var(--accent-color);
}

.catalog__grid-buttons {
  position: relative;
  z-index: 5;
}

.catalog__grid-button {
  pointer-events: auto;
}

/* #adaptive for sidebar modal*/

@media (min-width: 769px) {         /* убираем все мобильные свойства начиная с экранов 767px */
  .catalog__grid .modal-mob,
  .catalog__grid .modal-mob__body {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    z-index: 1;
    padding-top: 0;
    overflow: hidden;
    left: 0;
    padding-inline: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .catalog__grid .modal-mob__header {
    display: none;
  }

  .catalog__mob-filter-wrap {
    display: none;
  }
}

/* catalog__sidebar */
.catalog__sidebar {
  grid-area: sidebar;
}

/* catalog__products-wrap */
.catalog__products-wrap {
  grid-area: catalog;
}

@media (max-width: 768px) {
  .catalog__products-wrap {
    padding: 0 8px;
  }
}


/* стили для сетки каталога */
.catalog__grid .products {
  --gap: clamp(0.5rem, 0.4091rem + 0.4545vw, 0.75rem); /* 12px - 8px */
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  word-break: break-word;
  column-gap: var(--gap);
  row-gap: var(--gap);
}

@media (min-width: 1280px) {
  .catalog__grid .products.in-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}


.catalog__grid .products.columns-3 .product { 
  width: calc(100% / 3 - var(--gap)*2/3);
}
/* .catalog__grid .products .product { 
  width: calc(100% / 3 - var(--gap)*2/3);
} */

@media (max-width: 1279.98px) {
  .catalog__grid .products.columns-2 .product {
    width: calc(100% / 2 - var(--gap)/2);
  }
  .catalog__grid .products.columns-3 .product {
    width: calc(100% / 2 - var(--gap)/2);
  }
  .catalog__grid .products .product {
    width: calc(100% / 2 - var(--gap)/2);
  }
}

@media (max-width: 560px) {
  .catalog__grid .products.columns-2 .product {
    width: 100%;
  }
  .catalog__grid .products.columns-3 .product {
    width: 100%;
  }
  .catalog__grid .products .product {
    width: 100%;
  }
  .catalog__grid .products.columns-2-mob .product { 
    width: calc(100% / 2 - var(--gap)/2);
  }
}

/* term-description */

.term-description {
  --gap: clamp(0.25rem, 0.1543rem + 0.4255vw, 0.5rem); /* 8px - 4px */
  position: relative;
}

@media (min-width:768px) {
  .term-description {
    columns: 2;
    column-gap: 28px;
    padding-top: 60px;
  }

  .term-description h2,
  .term-description h3 {
    break-after: avoid;
    page-break-after: avoid;
  }

  .term-description h3 + p,
  .term-description h3 + ul {
    break-before: avoid;
    page-break-before: avoid;
  }

  .term-description h2 {
    position: absolute;
    top: 0;
  }
}

.term-description h2,
.term-description h3 {
  margin: 0;
  color: var(--black-color);
}

.term-description p {
  margin: 0;
}
.term-description ul {
  margin: 0;
  margin-block: var(--gap);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.term-description h2,
.term-description h2 strong {
  font-size: clamp(1.625rem, 1.4814rem + 0.6383vw, 2rem); /* 32px - 26px */
  font-weight: 500;
  margin-bottom: 16px;
}

.term-description h3,
.term-description h3 strong {
  margin-top: 16px;
  margin-bottom: var(--gap);
  font-size: clamp(1rem, 0.9521rem + 0.2128vw, 1.125rem); /* 18px - 16px */
  font-weight: 600;
}

.term-description li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.term-description li::before {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--accent-color);
  border-radius: 2px;
}
.catalog__term-description-read-full-button {
  display: none;
}
.catalog__term-description-read-full-button[hidden] {
  display: none !important;
}
@media (max-width:768px) {
  .term-description p {
    font-size: 14px;
  }

  .catalog__term-description .expandable-content-area {
    overflow-y: hidden;
  }

  .catalog__term-description .expandable-content-area:not(.is-expanded) {
    max-height: 470px;
  }
  .catalog__term-description-read-full-button {
    display: inline-flex;
    color: var(--accent-color);
    margin-top: 16px;
    transition-duration: var(--transition-duration);
  }
  .expandable-content:has(.is-expanded) .icon--chevron-down::after {
    transform: rotate(180deg);
  }
}


/*--------------------------------------------------------------
# Load more & pagination
--------------------------------------------------------------*/


.lmp_load_more_button {
  margin-top: 24px;
}

.lmp_load_more_button .lmp_button {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: var(--green-l-color) !important;
  color: var(--accent-color) !important;
  padding: 14px 24px !important;
  height: 48px !important;
  font-size: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem) !important; /* 16px - 14px */
  font-weight: 500 !important;
  border-radius: var(--button-br) !important;
  line-height: 0 !important;
}

.lmp_load_more_button .lmp_button:hover,
.lmp_load_more_button.br_lmp_button_settings .lmp_button:hover {
  background-color: var(--accent-color) !important;
  color: var(--white-color) !important;
}

.woocommerce-pagination {
  margin-top: 16px;
  font-weight: 500;
}
.woocommerce-pagination ul.page-numbers, .woocommerce-pagination .nav-links {
	display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

span.page-numbers,
a.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: var(--br-xs);
}

@media (max-width:768px) {
  span.page-numbers,
  a.page-numbers {
    width: 40px;
    height: 40px;
  }
}

span.page-numbers.current {
  background-color: var(--green-l-color);
  color: var(--accent-color);
}


.woocommerce-pagination ul.page-numbers li .page-numbers:hover, .woocommerce-pagination span:hover, .woocommerce-pagination a:hover {
    text-decoration: none;
}


