/*--------------------------------------------------------------
# Catalog
--------------------------------------------------------------*/
/* catalog__header */

.catalog__header {
  --img-height: clamp(7.5rem, -3.6111rem + 23.1481vw, 13.75rem); /* 220px - 120px на 768x*/
  --img-width: calc(var(--img-height) * 2);
  --br:20px;
  --pad: clamp(1.25rem, 0.7955rem + 2.2727vw, 2.5rem);
  --pad-left: calc(var(--pad) - var(--container-padding));
  position: relative;
  margin-bottom: clamp(0.75rem, 0.1324rem + 2.7451vw, 2.5rem);;
}

.catalog__header .woocommerce-breadcrumb {
  position: absolute;
  top: var(--pad);
  left: var(--pad);
  z-index: 2;
}

.catalog__header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: var(--pad);
  background:  var(--darken-bg);
  border-radius: var(--br);
  height: var(--img-height);
  overflow: hidden;
}

.catalog__header-image-wrap {
  width: fit-content;
  max-height: var(--img-height);
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

.catalog__header-image {
  max-height: var(--img-width);
} 

.woocommerce-products-header {
  display: flex;
  align-items: end;
  max-width: calc(min(var(--container), 100vw) - var(--pad) - var(--img-width));
}

@media (max-width:1024px) {
  .catalog__header-inner {
    padding: 0;
    padding-bottom: var(--pad);
    padding-left: var(--pad-left);
    overflow: visible;
    border-radius: 0;
  }

  .catalog__header .woocommerce-breadcrumb {
    position: static;
    margin-bottom: 12px;
    padding-left: var(--pad-left);
  }

  .catalog__header-inner::before {
    content: "";
    background:  var(--darken-bg);
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--container-padding);
    left: calc(0px - var(--container-padding));
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
  }
  .catalog__header-inner::after {
    content: "";
    background:  var(--darken-bg);
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--container-padding);
    right: calc(0px - var(--container-padding));
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
  }
}
 

@media (max-width:768px) {
  .catalog__header-inner {
    border-radius: var(--br);
    overflow: hidden;
  }
} 

@media (max-width:500px) {
  .catalog__header {
    --img-width: var(--img-height);
  }
} 

/* catalog__grid */

.catalog__grid {
  --sidebar: clamp(12.5rem, 4.5602rem + 16.5414vw, 18rem);
  --gap: clamp(1.25rem, 0.8088rem + 1.9608vw, 2.5rem);;
  display: grid;
  grid-template-columns:var(--sidebar) calc(100% - var(--sidebar) - var(--gap));
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "sidebar sorting"
  "sidebar catalog";
  column-gap: var(--gap);
} 

/* #adaptive for grid*/

@media (max-width: 768px) {
    .catalog__grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "sidebar"
            "sorting"
            "filters"
            "catalog";
    }

    /* .catalog__mob-filter-wrap .woocommerce-ordering__wrap {
        display: flex;
        margin-bottom: 0;
    } */
    .catalog__mob-filter-wrap .woocommerce-ordering {
        display: flex;
    }
    .catalog__mob-filter-wrap .woocommerce-ordering select {
        display: block;
        /* border: solid 2px; */
    }

    .catalog__mob-filter-wrap {
        grid-area: filters;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        align-items: center;
        padding: 0;
        background-color: var(--background);
    }


    .catalog__filter-wrap {
        position: sticky;
        top: 54px;
        z-index: 9000;
        background-color: var(--background);
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        transition: top 0.4s;
    }

    .catalog__filter-wrap_up {
        top: -80px;
    }
}

/* catalog__top */

.catalog__top {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .catalog__top {
    margin-bottom: 16px;
  }
}

/* woocommerce-ordering */

.woocommerce-ordering {
  position: relative;
  display:flex;
  align-items:center;
  gap:8px;
  color:var(--gray-color); /* цвет иконки через currentColor */
}

.woocommerce-ordering::before{
  content:"";
  width: 20px;
  height: 20px;
  background-color: currentColor;
  mask-image: var(--ordering-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}
.woocommerce-ordering::after{
  content:"";
  width: 16px;
  height: 16px;
  background-color: var(--gray-l-color);
  mask-image: var(--chevron-down-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

@media (max-width: 768px) {
  .woocommerce-ordering {
    flex-direction: row-reverse;
    gap: 0;
  }
  .woocommerce-ordering::before {
    margin: 8px;
    color: var(--accent-color);
  }

  .woocommerce-ordering::after {
    content:"";
    position: absolute;
    right: 0;
    /* transform: translate(100%,0); */
    mask-image:none;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background: var(--green-l-color);
    z-index: -1;
  }
}


.woocommerce-ordering select {
  border-radius: 5px;
  border: none;
  -webkit-appearance: none; /* Для Chrome и Safari */
  -moz-appearance: none; /* Для Firefox */
  appearance: none; /* Для всех современных браузеров */
  background-color: white; /* Это очень важно */ 
}

/* woocommerce-result-count */

.woocommerce-result-count {
  color: var(--gray-l-color);
}

@media (max-width: 768px) {
  .woocommerce-result-count {
    display: none;
  }
}

/* catalog__grid-buttons */

.catalog__grid-buttons {
  position: relative;
  justify-self: end;
  display: flex;
  align-items: center;
  column-gap: 2px;
  padding: 2px;
  background-color: var(--green-l-color);
  border-radius: 10px;
  z-index: -2;
}

.catalog__grid-buttons::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 36px;
  height: 36px;
  background-color: var(--white-color);
  border-radius: 10px;
  z-index: -1;
  transition-duration: var(--transition-duration);
}

.catalog__grid-buttons:has(#catalog__btn-rows:disabled)::before {
  left: 40px;
}

.catalog__grid-button {
  padding: 8px;
  background-color: transparent;
  color: var(--gray-l-color);
}

.catalog__grid-button:disabled {
  /* background-color: var(--white-color); */
  color: var(--accent-color);
}


/* #adaptive for sidebar modal*/
@media (max-width: 768px) {
    .catalog__sidebar {
        padding-right: 40px;
        padding-left: 40px;
        /* width: 100vw; */
    }  

    .catalog__grid .menu-catalog-container {
        display: none;
    }

    .catalog__sidebar-filters {
        margin-top: 27px;
    }

    .catalog-sidebar__close {
        top: 35px;
    }
}

@media (min-width: 767px) {         /* убираем все мобильные свойства начиная с экранов 767px */
    .catalog__grid .modal-mob {
        display: block;
        position: relative;
        width: 100%;
        height: fit-content;
        z-index: 1;
        padding-top: 0;
        overflow: hidden;
        left: 0;
    }

    .catalog-sidebar__close {
        display: none;
    }

    .catalog__sidebar-filters-heading {
        display: none;
    }

    .catalog__mob-filter-wrap {
        display: none;
    }
}

/* catalog__sidebar */
.catalog__sidebar {
  grid-area: sidebar;
}

.catalog__sidebar-filters-heading {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 30px;
}

/* catalog__products-wrap */
.catalog__products-wrap {
  grid-area: catalog;
}

@media (max-width: 768px) {
  .catalog__products-wrap {
    padding: 0 8px;
  }
}
/* стили для сетки каталога */

.catalog__grid .products {
  --gap: clamp(0.5rem, 0.4091rem + 0.4545vw, 0.75rem); /* 12px - 8px */
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  word-break: break-word;
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.catalog__grid .products.columns-3 .product { 
  width: calc(100% / 3 - var(--gap)*2/3);
}


@media (max-width: 1200px) {
  .catalog__grid .products.columns-2 .product {
    width: calc(100% / 2 - var(--gap)/2);
  }
  .catalog__grid .products.columns-3 .product {
    width: calc(100% / 2 - var(--gap)/2);
  }
}












.catalog__grid .term-description {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.catalog__grid .term-description h2 {
    margin-bottom: 20px;
}

.catalog__grid .term-description p {
    margin-bottom: 10px;
}

.catalog__grid .advantages {
    margin-top: 30px;
}

/*--------------------------------------------------------------
# Card in Catalog
--------------------------------------------------------------*/
/* стили для карточки товара в каталоге */

/* ссылка на просмотр корзины после добавления */
.products .wc-forward {
    display: none;
}

/* чтобы не было смещения пока грузится слайдер
.catalog__products-wrap .product__image-slider-wrap img:not(:first-child) {
    display: none;
} */

/* wish */


/* .catalog__products-wrap .yith-wcwl-add-to-wishlist a.add_to_wishlist>img, 
.catalog__products-wrap .yith-wcwl-add-to-wishlist a.delete_item>img, 
.catalog__products-wrap .yith-wcwl-add-to-wishlist a.move_to_another_wishlist>img {
    max-width: 32px;
    width: 32px;
} */

@media (max-width:767px) {
/*         
    .catalog__products-wrap .yith-wcwl-add-button {
        box-shadow: none;
    } */
/* 
    .catalog__products-wrap .yith-wcwl-add-to-wishlist a.add_to_wishlist>img, 
    .catalog__products-wrap .yith-wcwl-add-to-wishlist a.delete_item>img, 
    .catalog__products-wrap .yith-wcwl-add-to-wishlist a.move_to_another_wishlist>img {
        margin: 0 !important;
        max-width: 24px;
        width: 24px;
    } */

    /* .catalog__products-wrap .yith-wcwl-add-to-wishlist {
        border: none;
        position: absolute;
        top: 0;
        right: 0;
    } */

    /* .catalog__products-wrap .yith-wcwl-add-to-wishlist {
        border-radius: 100%;
        padding: 11px 10px 9px 10px;
        position: relative !important;
        order: 2;
        margin-top: -62px !important;
        margin-left: auto !important;
        margin-right: 70px !important;
        height: fit-content;
        box-shadow: 0 1px 20px rgba(4, 6, 28, .1);
    } */
}

.woocommerce-LoopProduct-link {
    position: relative;
    width: 100%;
}

/* .catalog__grid .woocommerce-LoopProduct-link:first-of-type {
    order: -2;
} */









/* sale badge */

/* @media (max-width: 768px) {
  .catalog__products-wrap .sale_badge {
      font-size: 10px;
  }
} */

/*stock status badge*/

/* @media (max-width: 768px) {
    .catalog__products-wrap .card__stockstatus {
        font-size: 16px;
        min-width: 103px;
        padding: 3px 5px;
    }
} */


.product-slider-wrap .card__stockstatus, .card__sliders-wrap .card__stockstatus {
    display: none;
}

.main__sale-gallery .card__stockstatus {
    display: none;
}

.popular-products-wrap .card__stockstatus {
    display: block;
}


/* фото товара */

/* .product__image-slider-wrap img {
    border: var(--background) 1px solid;
    box-sizing: border-box;
    border-radius: 35px;
} */
/*--------------------------------------------------------------
# Upsells & Cross sells in Card
--------------------------------------------------------------*/


/*cross sells & up sells*/

/* .card__sliders-wrap .products {
    display: flex;
    column-gap: 10px;
}

.card__sliders-wrap .product {
    text-align: left;
    position: relative;
    width: calc((100% - 20px)/3);
} */

.cross-upsells-swiper .yith-wcwl-add-to-wishlist {
    position: absolute;
    z-index: 10;
    margin: 0;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

.card__sliders-wrap img {
    border-radius: 25px;
}

.cross-upsells-swiper .yith-wcwl-add-to-wishlist a.add_to_wishlist>img, .cross-upsells-swiper .yith-wcwl-add-to-wishlist a.delete_item>img, .cross-upsells-swiper .yith-wcwl-add-to-wishlist a.move_to_another_wishlist>img {
    max-width: 20px;
}

/*cross sells & up sells #adaptive*/

@media (max-width:768px) {
    .card__sliders-wrap .yith-wcwl-add-to-wishlist {
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.card__sliders-wrap .yith-wcwl-add-button {
    font-size: 0;
}

.card__sliders-wrap .yith-wcwl-add-button img {
    width: 25px;
    margin: 5px;
}

.card__sliders-wrap .woocommerce-loop-product__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
    margin-top: 10px;
}

.card__sliders-wrap .woocommerce-product-details__short-description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 7px;
}

/* стили цены */
.card__sliders-wrap .product .price {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
}

.card__sliders-wrap .sale .price {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}

.card__sliders-wrap .sale ins .woocommerce-Price-amount {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 700;
    /* color: var(--red-color); */
}

/* слайдер для прокручивания галереи товаров горизонтальным скроллом */
/* .products__slider_mob, .main-sale-slider-mob .products{
    overflow-x: scroll;
    overflow-y: hidden;
}

.products__slider_mob .product, .main-sale-slider-mob .products .product {
    min-width: calc((100% - 10px)/2);
}

.main-sale-slider-mob .products {
    display: flex;
     column-gap: 5px;
} */

/* кнопка добавить в корзину */
.card__sliders-wrap .add_to_cart_from {
    margin-top: -49px;
    margin-right: 11px;
    margin-left: auto;
    order: -1;
    z-index: 2;
}

.card__sliders-wrap .add_to_cart_button, .card__sliders-wrap .product_type_simple {
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 15px;
    background-image: url(https://plantis-shop.ru/wp-content/themes/plantis_site/images/icons/cart_white_new2.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    background-size: 50%;
}

.card__sliders-wrap .added {
    background-image: url(https://plantis-shop.ru/wp-content/themes/plantis_site/images/icons/check_white.svg);
}

.card__sliders-wrap .woocommerce-LoopProduct-link:first-of-type {
    order: -2;
}

.card__sliders-wrap .product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
}





/*--------------------------------------------------------------
# Ukhod
--------------------------------------------------------------*/
.card__ukhod-wrap {
    margin-top: 50px;
}

.card__ukhod-wrap .my_header__title {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .card__ukhod-wrap {
        margin-top: 30px;
    }
    .card__ukhod-wrap .my_header__title {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.2;
    }
}

.card__ukhod-btn {
    color: var(--white);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    margin-top: 20px;   
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: fit-content;
    padding: 15px 20px;
}




/*--------------------------------------------------------------
# Load more & pagination
--------------------------------------------------------------*/


.lmp_load_more_button {
    margin-top: 25px;
}

.woocommerce-pagination > ul {
    border-bottom: solid 2px #95E1D4;
    border-top: solid 2px #95E1D4;
}

.page-numbers {
	padding: 10px 0;
	font-size: 16px;
    font-weight: 600;
    line-height: 26px;
	color: #000;
    margin-top: 25px;
    max-width: 100%;
    overflow: hidden;
}

.woocommerce-pagination ul.page-numbers, .woocommerce-pagination .nav-links {
	display: flex;
    justify-content: center;
    column-gap: 5px;
}

.woocommerce-pagination ul.page-numbers li .page-numbers, .woocommerce-pagination span, .woocommerce-pagination a {
    padding: 4px 10px;
    border-radius: 5px;
}

.woocommerce-pagination ul.page-numbers li .page-numbers:hover, .woocommerce-pagination span:hover, .woocommerce-pagination a:hover {
    text-decoration: none;
}

.woocommerce-pagination a.page-numbers:not(.prev):not(.next):hover, .woocommerce-pagination a.page-numbers:not(.prev):not(.next).current, .woocommerce-pagination span.page-numbers:not(.prev):not(.next):hover, .woocommerce-pagination span.page-numbers:not(.prev):not(.next).current {
	background-color: #95E1D4 !important;
}

.woocommerce-pagination a.next, .woocommerce-pagination a.prev{
    font-size: 25px;
}

/*--------------------------------------------------------------
# Search results page
--------------------------------------------------------------*/
.page-template-page-search-results .catalog__grid-buttons{
  flex-direction: row-reverse;
}

.page-template-page-search-results .popular-slider-swiper .product__image-slider-wrap .swiper-pagination {
  display: none;
  pointer-events: none;
  cursor: default;
}
.page-template-page-search-results .popular-slider-swiper .product__image-slider-wrap .swiper-button-prev {
  display: none;
  pointer-events: none;
  cursor: default;
}
.page-template-page-search-results .popular-slider-swiper .product__image-slider-wrap .swiper-button-next {
  display: none;
  pointer-events: none;
  cursor: default;
}

@media (max-width: 768px) {
  .page-template-page-search-results .bapf_no_products {
    padding: 0 10px;
  }
  .page-template-page-search-results .popular-products-wrap {
    padding: 0 10px;
  }
}

/* убираем фильтры из результатов поиска */
.page-template-page-search-results .catalog__sidebar {
  display: none;
}
.page-template-page-search-results .catalog__grid {
  grid-template-columns: 100%;
  grid-template-areas:
  "metki"
  "sorting"
  "catalog"
  "pagination";
}
.page-template-page-search-results .catalog__mob-filter-btn {
  display: none;
}
