.catalog__grid {
    display: grid;
    grid-template-columns:30% 70%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "sidebar metki"
    "sidebar sorting"
    "sidebar catalog"
    "sidebar pagination";
}

.catalog__sidebar {
    grid-area: sidebar;
}

.woocommerce-ordering {
    grid-area: sorting;
}

.catalog__grid .products {
    grid-area: catalog;
}

.woocommerce-pagination {
    grid-area: pagination;
}

/* стили для сетки каталога */
.catalog__grid ul.products {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    word-break: break-word;
    min-width: 12vw;
    column-gap: 16px;
    row-gap: 16px;

    &.columns-2 {

        li.product {
            width: calc(100% / 2 - 16px);
        }
    }

    &.columns-3 {

        li.product {
            width: calc(100% / 3 - 16px);
        }
    }

    &.columns-4 {

        li.product {
            width: calc(100% / 4 - 16px);
        }
    }

    &.columns-5 {

        li.product {
            width: calc(100% / 5 - 16px);
        }
    }

    &.columns-6 {

        li.product {
            width: calc(100% / 6 - 16px);
        }
    }

    li.product {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        /* margin: 0 8px 16px 8px; */
        box-sizing: border-box;
    }
}

.woocommerce-loop-product__link {
    position: relative;
}


/* стили для карточки товара в каталоге */


.add_to_cart_button, .product_type_simple {
    width: 100%;
    color: var(--white-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    margin: 10px 0 20px;
}

.woocommerce-loop-product__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
}

.woocommerce-product-details__short-description {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    opacity: 0.7;
}

.product .price {
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 20px;
}

.product .sale .price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 20px;
}


.sale .woocommerce-Price-amount:last-child {
    color: var(--red-color);
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
}

.sale .woocommerce-Price-amount:first-child {
    color: var(--red-color);
}