@media (min-width: 768px) {
	.order_wrap {
        display: grid;
        grid-template-columns: 45% auto;
        column-gap: 40px;
	}
}

.woocommerce-checkout label {
	font-weight: 600;
}

#customer_details input {
	font-weight: 500 !important;
}

#customer_details span {
	font-weight: 500 !important;
}

#order_comments {
	min-height: 50px;
}
.dontcallme label {
	padding-right: 10px;
}

.woocommerce-shipping-methods li {
	display: flex;
}

.woocommerce-input-wrapper {
		display: flex;
}
/* .woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr:last-child th, .woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr:last-child td {
	padding-bottom: 7px!important;
} */

.checkout__additional {
  text-align: center;
  background-color: var(--accent-color);
  padding: 20px 5px;
  border-radius: 15px;
  font-weight: 600;
}

.checkout__text {
	font-weight: 500;
}
.checkout__title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin: 40px 0 10px;
    color: var(--accent-color);
}

.woocommerce-checkout form.woocommerce-checkout {
	margin-top:0;
	padding-top:0;
}


/*офорление блока доставка и итого*/

.woocommerce-shipping-totals.shipping {border-top: 2px solid var(--accent-color); background-color: var(--accent-back);}

#order_review > table > tfoot > tr.order-total {background-color:var(--accent-color);
	color: #ffffff; }

#order_review > table > tfoot > tr.order-total > td > strong > span {color: var(--white); font-size:20px; font-weight: 600;}

#order_review > table > thead {background-color:var(--accent-color); color: var(--white);}

#order_review > table > tbody {font-weight: 600}

#order_review > table > tfoot > tr.fee > td {background-color:#F1F6F3; color: #000000; } 

#order_review > table > tfoot > tr.fee > td > span > bdi {color: #000000; } 

#order_review > table > tfoot > tr:nth-child(3) > th {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    text-align: left;
}


#order_review > table > thead > tr > th.product-name {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    text-align: left;
}

#order_review > table > thead > tr > th.product-total {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 20px;
    text-align: left;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tbody tr td {
    padding: 17px 20px;
    border-bottom: 1px solid #ebeced;
    font-size: 16px;
}

#order_review > table > tfoot > tr.woocommerce-shipping-totals.shipping > td > strong {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr td {
    padding: 10px 20px;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr:last-child td {
    padding-bottom: 10x;
}

.woocommerce-checkout .woocommerce-checkout-review-order table .amount {
    font-size: 20px;
    line-height: 1;
}

.woocommerce-shipping-methods li {
    display: flex;
    column-gap: 7px;
    margin-bottom: 4px;
}

.cart-subtotal {
    display: none;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tr th:last-child, .woocommerce-checkout .woocommerce-checkout-review-order table tr td:last-child {
    width: 140px;
}

/* способы оплаты */

.wc_payment_methods li .payment_box {
    padding: 20px;
    border-radius: 4px;
    margin: 10px 0 15px;
    display: block;
    background-color: var(--accent-back);
}

/* кнопка оформления заказа*/
.woocommerce-checkout .place-order .button {
    background-color: var(--accent-color); 
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
}

.woocommerce-checkout .wc_payment_methods {
    margin: 15px 0;
}
.woocommerce-checkout .wc_payment_methods .wc_payment_method{
    margin-bottom: 15px;
}

.woocommerce-checkout .wc_payment_methods label:hover{
    cursor: pointer;
}

.woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 20px;
}

/* контактная информация */

.woocommerce-billing-fields__field-wrapper input {
    padding: 14px 20px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

#billing_phone_field, #billing_email_field {
    width: 45%;
    display: inline-block;
}