/*--------------------------------------------------------------
# Checkout page
--------------------------------------------------------------*/

/* скрываем Уже покупали? */
.woocommerce-form-login-toggle {
    display: none;
}

.woocommerce-checkout-review-order-table .ywgc-gift-card-applied {
  display: none;
}

.woocommerce-checkout-review-order-table {
    table-layout:fixed;
}

.backorder_date-info {
    padding: 0.2em 0.4em;
    background-color: var(--accent-color);
    border-radius: 7px;
    color: var(--white);
    white-space: normal;
    font-size: 10px;
    text-align: center;
    max-width: fit-content;
}

.backorder_date-info_late {
  background-color: var(--stock-backorder);
}

@media (min-width: 768px) {
	.order_wrap {
        display: grid;
        grid-template-columns: 45% auto;
        column-gap: 60px;
	}
}

.woocommerce-checkout label {
	font-weight: 600;
}

#customer_details input, .delivery_wrap input {
	font-weight: 500 !important;
}

#customer_details span, .delivery_wrap span {
	font-weight: 500 !important;
}

#order_comments {
	min-height: 80px;
}
.dontcallme label {
	padding-right: 10px;
}

.woocommerce-shipping-methods li {
    display: flex;
    column-gap: 7px;
    margin-bottom: 15px;
    min-height: 20px;
    align-items: center;
    flex-basis: 200px;
    min-height: 100%;
}

.woocommerce-input-wrapper {
		display: flex;
}
/* .woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr:last-child th, .woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr:last-child td {
	padding-bottom: 7px!important;
} */

.checkout__additional {
  text-align: center;
  background-color: var(--accent-back);
  padding: 20px 5px;
  border-radius: 15px;
  font-weight: 600;
  line-height: 1.3;
}

.checkout__title {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	margin: 40px 0 10px;
    color: var(--accent-color);
}

.woocommerce-checkout form.woocommerce-checkout {
	margin-top:0;
	padding-top:0;
}


/*офорление блока доставка и итого*/

/* .woocommerce-shipping-totals.shipping {
    border-top: 2px solid var(--accent-color); 
    background-color: var(--accent-back);

} */

#order_review .plnt-order-total {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    border-bottom: solid 2px var(--accent-color);
    padding-bottom: 10px;
}
#order_review .plnt-order-total span {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
}

#order_review > table > tfoot > tr.order-total {
    /* background-color:var(--accent-color);
	color: #ffffff;  */
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    border-bottom: solid 2px var(--accent-color);
    padding-bottom: 10px;
}

#order_review > table > tfoot > tr.order-total > td > strong > span {
    /* color: var(--white);  */
    font-size:20px; 
    font-weight: 600;}

#order_review > table > thead {background-color:var(--accent-color); color: var(--white);}

#order_review > table > tbody {font-weight: 600; border-bottom: 2px solid var(--accent-color);}

#order_review > table > tfoot > tr.fee > td {background-color:#F1F6F3; color: #000000; } 

#order_review > table > tfoot > tr.fee > td > span > bdi {color: #000000; } 

#order_review > table > tfoot > tr:nth-child(3) > th {
    font-weight: 700;
    font-size: 16px;
    padding: 10px 5px;
    text-align: left;
}

#order_review > table > thead > tr > th.product-name {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 5px;
    text-align: left;
    width: 70%;
}

#order_review > table > thead > tr > th.product-total {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 5px;
    text-align: right;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tbody tr td {
    padding: 17px 5px;
    border-bottom: 1px solid #ebeced;
    font-size: 16px;
    line-height: 1.4;
}

#order_review > table > tfoot > tr.woocommerce-shipping-totals.shipping > td > strong {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr td {
    padding: 20px 5px 0;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tfoot tr:last-child td.product-total {
    display: flex;
    justify-content: end;
}

.woocommerce-checkout .woocommerce-checkout-review-order table tbody td {
    padding: 10px 20px;
}

.woocommerce-checkout .woocommerce-checkout-review-order table .amount {
    font-size: 20px;
    line-height: 1;
}

.cart-subtotal {
    display: none;
}

/* .woocommerce-checkout .woocommerce-checkout-review-order table tr th:last-child, .woocommerce-checkout .woocommerce-checkout-review-order table tr td:last-child {
    width: 140px;
} */

#order_review table > tbody > tr > td.product-total {
    text-align: right;
}

#order_review table > tfoot > tr.order-total > td {
    display: flex;
    justify-content: end;
}

#shipping_method {
    display: flex;
    min-height: 85px;
    overflow-x: auto;
}

#shipping_method label::before {
    display: none;
}

#shipping_method li label {
    width: 100%;
    justify-content: center;
    /* align-items: flex-start; */
    height: 100%;
}

#shipping_method li span {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    color: var(--accent-color);
    padding-top: 5px;
}

#shipping_method input[type=radio]:checked + label span {
    color: var(--white);
}

.woocommerce-shipping-methods li span {
    display: none;
}
.woocommerce-shipping-backorder li span {
    display: inline;
}


/* DELETE */
/*прячем цену для почты россии*/
/* .woocommerce-shipping-backorder li:has([value="flat_rate:27"]) span {
    display: none;
} */

/*прячем срочную доставку для предзаказа #backorder*/
/* .woocommerce-shipping-backorder li:has([value="flat_rate:5"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:6"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:25"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:26"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:19"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:20"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:11"]) {
    display: none;
}
.woocommerce-shipping-backorder li:has([value="flat_rate:12"]) {
    display: none;
} */

.large_delivery_notice {
    /* background-color: var(--notice-red); */
    /* width: fit-content; */
    padding: 5px;
    margin: 10px auto 20px;
    border-radius: 5px;
    font-weight: 700;
    /* text-align: center; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.large_delivery_img {
    height: 25px;
    width: 27px;
    display: block;
    background-repeat: no-repeat;
    background-size: 27px 24px;
    margin-right: 10px;
}

/* способы оплаты */

.wc_payment_methods li .payment_box {
    padding: 20px;
    border-radius: 4px;
    margin: 10px 0 15px;
    display: block;
    background-color: var(--accent-back);
}

/* кнопка оформления заказа*/
.woocommerce-checkout .place-order .button {
    background-color: var(--accent-color); 
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white);
    width: 100%;
}

.woocommerce-checkout .wc_payment_methods {
    margin: 15px 0;
}
.woocommerce-checkout .wc_payment_methods .wc_payment_method{
    margin-bottom: 15px;
}

.woocommerce-checkout .wc_payment_methods label:hover{
    cursor: pointer;
}

.woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 20px;
}

.woocommerce-privacy-policy-text {
    font-size: 14px;
}

/* контактная информация */

.woocommerce-billing-fields .required {
    display: none;
}

.woocommerce-billing-fields .optional {
    display: none;
}

.woocommerce-billing-fields__field-wrapper input {
    padding: 14px 20px;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}

@media (max-width: 767px) {
    .woocommerce-billing-fields__field-wrapper input {
        margin-bottom: 15px;
    }
    
}

.woocommerce-billing-fields__field-wrapper input.input-radio {
    width: fit-content;
}

#dontcallme_field {
    margin-bottom: 30px;
}

#dontcallme_field .woocommerce-input-wrapper {
    margin-top: 10px;
}

#dontcallme_field .radio {
    padding-left: 5px;
}

#billing_phone_field, #billing_email_field {
    width: calc(50% - 15px);
    display: inline-block;
}

#billing_phone_field {
    margin-right: 30px;
}

@media (max-width: 767px) {
    #billing_phone_field, #billing_email_field {
        width: 100%;
    }
    
    #billing_phone_field {
        margin-right: 0;
    }
}

.woocommerce-additional-fields h3 {
    display: none;
}

.woocommerce-additional-fields .optional {
    display: none;
}

.woocommerce-additional-fields__field-wrapper textarea {
    padding: 14px 20px;
    width: 100%;
    /* margin-bottom: 30px; */
    border: 1px solid #ccc;
}


.woocommerce-additional-fields__field-wrapper input {
    padding: 14px 20px;
    width: 100%;
    /* margin-bottom: 30px; */
    border: 1px solid #ccc;
}

#billing_country_field {
    display:none; 
}

.woocommerce-address-wrapper {
    flex-wrap: wrap;
}

#billing_address_2, #billing_address_3 {
    margin-right: 15px;
}

#billing_address_2, #billing_address_3, #billing_address_4 {
    max-width: calc(33% - 10px);
    border-radius: 3px;
}

/* дата и время доставки */

.delivery_wrap {
    display: flex;
    /* margin-top: 35px; */
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 5px 0;
}

.delivery_wrap > p > label {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
}

.delivery_wrap span {
    margin-bottom: 10px;
}

.delivery_wrap .optional {
    display: none;
}

.delivery_wrap input {
    padding: 14px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.delivery_wrap .swiper-button-next {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    right: 3px;
}

.delivery_wrap .swiper-button-prev {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    left: 3px;
}

.woocommerce-additional-fields__field-wrapper {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .woocommerce-additional-fields__field-wrapper {
        row-gap: 15px;
    }
}


#additional_delivery_interval_field label::before, #delivery_dates_field label::before{
    display: none;
}

#additional_delivery_interval_field .woocommerce-input-wrapper {
    /* display: grid;
    grid-template-columns: repeat( 2, 1fr); */
    display: flex;
    justify-content: start;
    /* column-gap: 10px;
    row-gap: 10px; */
    overflow: scroll;
    scrollbar-width: none;
}

/* для работы слайдера */
#delivery_dates_field {  
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
/* #delivery_dates_field .woocommerce-input-wrapper {
    overflow: scroll;
    scrollbar-width: none;
} */

#additional_delivery_interval_field > label {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
}

#additional_delivery_interval_field .woocommerce-input-wrapper label, 
#delivery_dates_field .woocommerce-input-wrapper label, 
#shipping_method label {
    background-color: #f5f5f5;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    /* margin: 5px; */
    padding: 5px;
    margin-right: 10px;
    text-align: center;

    font-size: 13px;
    line-height: 14px;
    font-weight: 500;

    width: 95px;
    min-height: 28px;
}

#delivery_dates_field .woocommerce-input-wrapper label span {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: var(--accent-color);
    margin:0;
}

#additional_delivery_interval_field .woocommerce-input-wrapper label span {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: var(--accent-color);
    margin:0;
}

#additional_delivery_interval_field .woocommerce-input-wrapper input[type=radio]:checked + label {
    background-color: #3a3a3a;
    color: #fff;
}
#delivery_dates_field .woocommerce-input-wrapper input[type=radio]:checked + label {
    background-color: #3a3a3a;
    color: #fff;
}
#shipping_method input[type=radio]:checked + label {
    background-color: #3a3a3a;
    color: #fff;
}

#delivery_dates_field .woocommerce-input-wrapper input[type=radio]:checked + label span {
    color: #fff;
}

#additional_delivery_interval_field .woocommerce-input-wrapper input[type=radio]:checked + label span {
    color: #fff;
}

.woocommerce-additional-fields__field-wrapper label {
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
} 

label[for=additional_inn] {
    display: none;
}

label.list-view {
    margin: 0 !important;
}


/* время доставки #adaptive*/

@media (min-width: 768px ) and (max-width: 1024px) {

    .woocommerce-additional-fields__field-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "date"
        "interval"
        "comment";
        column-gap: 15px;
        row-gap: 15px;
    }

    #additional_delivery_interval_field .woocommerce-input-wrapper {
        grid-template-columns: repeat( 4, 1fr) !important;
    }
}

@media (max-width: 540px) {


    .woocommerce-additional-fields__field-wrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "date"
        "interval"
        "comment";
        column-gap: 15px;
        row-gap: 15px;
    }

    #additional_delivery_interval_field .woocommerce-input-wrapper {
        grid-template-columns: repeat( 4, 1fr) !important;
    }
}

/* сообщение об ошибке */

.woocommerce-checkout .woocommerce-error {
    color: var(--red-color);
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.woocommerce-checkout .woocommerce-error li{
    margin-bottom: 15px;
    margin-left: 25px;
}

.woocommerce-checkout .woocommerce-error::before {
    content: "\0021";
    position: absolute;
    padding: 1px 7px 0px;
    color: var(--white);
    background-color: var(--red-color);
    border-radius: 20px;
}

.cart-error {
    margin: 10px 0;
    padding: 10px;
    /* background-color: var(--gray); */
    background-color: rgb(249 61 5 / 0.1);
    border: solid 1px rgb(249 61 5 / 0.5);
    border-radius: 5px;
    color: var(--red-color);
    font-size: 20px;
    font-weight: 600;
}

.cart-error-list {
    margin: 10px 0;
    padding: 10px;
    background-color: var(--gray);
    border-radius: 5px;
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

.cart-error-list__name {
    font-weight: 700;
}

.woocommerce .wc-backward {
    color: var(--white);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* уведомления */

.checkout__text {
	font-weight: 500;
    line-height: 1.2;
    padding: 10px !important;
    background-color: var(--gray);
    border-radius: 5px;
}

/* .checkout__text_alarm {
	color: var(--red-color);
} */

.checkout__text span{
	font-weight: 700;
    font-size: 20px;
}

.checkout__text a{
	color: var(--accent-color);
}

.checkout__free-delivery-text {
    margin-top:20px; 
    font-size:16px; 
    font-weight:700; 
    line-height: 1.3;
    background-color: var(--accent-back); 
    border-radius:10px; 
    padding:10px; 
    text-align:center;
}

.checkout__free-delivery-text span{
   font-weight:700;
   font-size: 20px;
}

/*gift card*/

.ywgc_have_code {
  border: none;
  padding: 20px 15px 20px 0px;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--text);
  box-shadow: none;
  background-color: var(--bg);
  display: none; 
}

.ywgc-show-giftcard::after {
    content: "next";
    font-family: swiper-icons;
    font-size: 12px;
    font-weight: 600;
    transition: transform .2s ease;
    color: var(--text);
    width: 1.25em;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
}

.ywgc-show-giftcard.open::after{
  transform: rotate(-90deg);
}

.ywgc-gift-card-applied {
    color: var(--text);
}

.ywgc-gift-card-applied th {
    text-align: left;
    padding-left: 5px;
    padding-bottom: 20px;
}

.ywgc-gift-card-applied td {
    padding: 0 0 20px !important;
    text-align: end;
}

.ywgc-gift-card-applied a {
    font-size: 24px;
    font-weight: 700;
    line-height: 0;
    padding-top: 7px;
    text-decoration: none;
    margin-left: 15px;
}

.ywgc_enter_code {
    margin: 0;
    padding: 10px 0;
    background-color: var(--bg);
}

.ywgc_enter_code input{
    width: 100%;
}

.ywgc_enter_code .form-row-first{
    width: 75%;
}
.ywgc_enter_code .form-row-last{
    display: flex;
    justify-content: end;
    width: fit-content;
}

.ywgc_enter_code + .woocommerce-message {
    display: none;
}

.ywgc_apply_gift_card_button {
    background-color: var(--accent-color) !important;
}

.ywgc_apply_gift_card_button:hover { 
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2) !important;
        background-color: var(--accent-color) !important;
    } 

@media (hover: hover) {
    .ywgc_apply_gift_card_button:hover { 
        box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2) !important;
        background-color: var(--accent-color) !important;
    } 
}

/* radio button */

/* для элемента input c type="radio" */
.order_wrap input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: fit-content;
  }

  /* для элемента label связанного с .order_wrap input[type=radio] */
  .order_wrap input[type=radio]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  
  /* создание в label псевдоэлемента  before со следующими стилями */
  .order_wrap input[type=radio]+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .order_wrap input[type=radio]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .order_wrap input[type=radio]:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .order_wrap input[type=radio]:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .order_wrap input[type=radio]:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .order_wrap input[type=radio]:checked+label::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .order_wrap input[type=radio]:disabled+label::before {
    background-color: #e9ecef;
  }

.payment_method_tbank img {
    display: none;
}


/*gift card payment page*/

.gift-order-items .order_item {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 10px;
}
.gift-order-items .product-name { flex: 1; }
