/* FlexSlider Dot Pagination
слайдер для фото товара в карточке*/
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
}
.flex-control-paging li a {
    /* width: 7px;
    height: 7px; */
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; */
    width: 10px;
    height: 3px;
    border-radius: 30%;
}
.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

/* FlexSlider Navigation Arrows*/
ul.flex-direction-nav {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0px;
    list-style: none;}

li.flex-nav-prev {float: left; 
    margin-left: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 1px 20px rgba(4, 6, 28, .1);
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;}

li.flex-nav-next {float: right;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    box-shadow: 0 1px 20px rgba(4, 6, 28, .1);
    border-radius: 50%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;}

a.flex-next {visibility:hidden; font-size: 0;}
a.flex-prev {visibility:hidden; font-size: 0;}
a.flex-next::after {
    visibility:visible;
    content: 'next';
    font-size: 18px;  
    font-family: swiper-icons; 
    font-weight: 600;
}

a.flex-prev::before {
    visibility:visible;
    content: 'prev';
    font-size: 18px; 
    font-family: swiper-icons; 
    font-weight: 600;}

.flex-direction-nav a:hover {
    text-decoration: none;
}
/* FlexSlider Dot Pagination - end

