.check {
    background-color: red;
}

* {
    outline: 1px solid red;
}

:root {
    --accent-color: #146F41;
    --red-color: #F93D05;
    --white-color: #fff;
    --background: #FDFDFD;
    --text:#000;
    --gray:#F2F2F2;
    --telegram:#0886C4;
}

.fix-body {
    height: 100vh;
    overflow-y: hidden;
}

.body-overlay{
    background: rgba(0,0,0,0.1);
}

.container {
    max-width: 1300px;
    margin: auto;
}

.content-area {
    max-width: 1300px;
    margin: auto;
}

.sale_badge {
    position: absolute;
    top: 0;
    z-index: 2;
}

.button {
    display: inline-block; 
    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;

    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    
    padding: 10px 0px 10px 0px;
}