.check {
    background-color: red;
}

* {
    outline: 1px solid red;
}

:root {
    --accent-color: #146F41;
    --red-color: #F93D05;
    --white: #fff;
    --background: #FDFDFD;
    --text:#000;
    --gray:#F2F2F2;
    --telegram:#0886C4;
    --whatsapp:#25d366;
    --sale: #A4198E;
    --accent-back: #F5FDF2;
    --added-cart: #FE6A4C;
}

.fix-body {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    max-width: 1300px;
    margin: auto;
}

.content-area {
    max-width: 1300px;
    margin: auto;
    margin-top: 10px;
}

.sale_badge {
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: var(--red-color);
    color: var(--white);
    display: flex;
    align-items: center;
    border-radius: 0px 5px 0px 5px;
    padding: 0 5px 0 0;
}

.sale_badge-skidka {
    background-color: var(--text);
    color: var(--white);
    display: block;
    padding: 5px;
    border-radius: 0px 0px 0px 5px;
    margin-right: 3px;
}

.button {
    display: inline-block; 
    
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;

    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
    
    padding: 10px;
}

.button:hover { 
    text-decoration: none;
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}
.heading-2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}