body {
  background:var(--background);
  font-family: 'Onest', sans-serif;
  font-optical-sizing: auto;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.01em;
}

p {
  line-height: 1.4;
}

.container,
.content-area  {
  max-width: var(--container);
  margin: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  position: relative;
}

@media (max-width: 768px) {
  .archive .content-area {
    padding-inline: 0px;
  }
  .woocommerce-wishlist .content-area {
    padding-inline: 0px;
  }
  .woocommerce-cart .content-area {
    padding-inline: 0px;
  }
  .woocommerce-checkout .content-area {
    padding-inline: 0px;
  }
}
@media (max-width: 1380px) {
  .no-padding {
      padding: 0;
  }
}

.content-area {
  margin-bottom: var(--section-mb);
}

.section {
  margin-bottom: var(--section-mb);
}

.grid-2-cols {
  display: flex;
  gap: 8px 12px;
}

@media (max-width: 1024px) {
  .grid-2-cols {
    flex-direction: column;
  }
}

.grid-2-cols > * {
  flex: 1 1;
}

input,
textarea {
  border: var(--input-border);
  border-radius: var(--button-br);
  padding: 11px 14px;
}

.input-wrap_labeled {
  position: relative;
}
.input-wrap_labeled input, .input-wrap_labeled textarea{
  padding: 16px;
}

.input-wrap_labeled label {
  pointer-events: none;
  position: absolute;
  top: 19px;
  /* transform: translate(0, -50%); */
  left: 16px;
  font-size: 16px;
  display: block;
  background-color: var(--background);
  transition: all .3s ease;
  color: var(--gray-l-color);
  z-index: 2;
}

.input-wrap_labeled:has(.focus) label {
  top: 16px;
  left: 16px;
  font-size: 10px;
}
.input-wrap_labeled input.focus,
.input-wrap_labeled textarea.focus  {
  padding-top: 23px;
  padding-bottom: 9px;

  color: var(--black-color);
}


/* Заголовки */

.h1 {
  font-size: clamp(1.625rem, 1.0984rem + 2.3404vw, 3rem);
  line-height: 112%;
  color: var(--black-color);
  font-weight: 500;
}

.h2 {
  font-size: clamp(26px, 22.5px + 0.98vw, 36px);
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: var(--h2-mb);
}

.h3 {
  font-size: clamp(1.375rem, 1.1356rem + 1.0638vw, 2rem);
  line-height: 1.2;
  font-weight: 500;
  color: var(--black-color);
}

@media (max-width: 768px) {
  .h3 {
    font-weight: 600;
  }
}

.h4 {
  font-size: clamp(22px, 20.6px + 0.39vw, 26px);
  line-height: 1.2;
  font-weight: 500;
  color: var(--black-color);
}

.h5 {
  font-size: clamp(18px, 16.6px + 0.39vw, 22px);
  line-height: 1.2;
  font-weight: 600;
  color: var(--black-color);
}


/* legacy */


@media (max-width:1279px) {
  .entry-header {
      padding-top: 16px;
  }
}

/* side bar */
.content-area_sidebar {
    display: flex;
    column-gap: 70px;
}
.content-area_sidebar .site-main{
    width: 100%;
}

.content-area_sidebar .entry-header {
    margin-top: 39px;
}

@media (max-width: 1024px) {
    .content-area_sidebar {
        column-gap: 50px;
    }
}

@media (max-width: 768px) {
    .content-area_sidebar .entry-header {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
  .content-area_sidebar {
      display: block;
  }

  .content-area_sidebar aside{
      display: none;
  }
}

/* заголовк H1 */

.my_header__title, .entry-header, .entry-title, .woocommerce-products-header__title {
  color: var(--black-color);
  font-weight: 500;
  line-height: 1.1;
  font-size: clamp(22px, 12.82px + 2.55vw, 48px);
  z-index: 1;
}

.woocommerce-products-header__title span{
  font-size: clamp(1rem, 0.7846rem + 0.9574vw, 1.5625rem); /* 25px - 16px */
} 

.heading-2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

/* woocommerce message & notice */
.woocommerce-message {
    margin-bottom: 10px;
    margin-top: 10px;
}

.woocommerce-info {
    margin-bottom: 10px;
    margin-top: 10px;
}

.woocommerce-notices-wrapper {
  margin-bottom: 10px;
  margin-top: 10px;
}

.woocommerce-error:focus-visible, .woocommerce-notices-wrapper:focus-visible, .woocommerce-notices-wrapper:focus, .woocommerce-message:focus-visible, .woocommerce-message:focus {
  outline: none;
}

/* сообщение об ошибке */

.woocommerce-error {
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 18px 20px;
  margin: 24px 0;
  border-radius: 14px;
  background: #fff;
  border: 1px solid #ffe3e3;
  box-shadow: 0 8px 24px rgba(229, 59, 53, 0.06);
  color: #3d3d3d;
  line-height: 1.3;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding-left: 45px;
}


.woocommerce-error::before {
  position: absolute;
  content: "";
  background-image: var(--error-icon);
  left: 15px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 24px 24px;
}


/*antibot fancybox cookie*/

.welcome-pt-message-btn {
    background-color: black;
    color: white;
    font-weight: 700;
}

.fancybox-wrap {
    position: fixed !important;
    bottom: 30px;
    z-index: 9999;
    top: auto !important;
    width: calc(100vw - 160px) !important;
    left: 20px !important;
    right: auto !important;
    font-size: 20px;
}

@media (max-width: 1279px) {
    .fancybox-wrap {
        bottom: 85px;
        width: calc(100vw - 50px) !important;
        font-size: 16px;
    } 
}

.fancybox-skin {
    padding: 15px 30px !important;
}

.fancybox-overlay {
    position: relative !important;
}

.fancybox-inner {
    height: fit-content !important;
    width: 100% !important;
}

.welcome-pt-message form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    overflow: hidden;
}


/* checkbox color*/

input[type="checkbox"]{
  accent-color: var(--accent-color)
}