/* gift card page */

/* .card__grid_gift-card {
  display: flex;
  flex-direction: column;
}
.card__grid_gift-card .card__image-wrap{
  display: none;
}
.card__grid_gift-card .summary {
  display: none;
}
.card__grid_gift-card .woocommerce-tabs{
  display: none;
}
.card__grid_gift-card .card_banner{
  display: none;
}
.card__grid_gift-card .ywgc-recipient-email{
  display: none;
}
.card__grid_gift-card .quantity{
  display: none;
}
.card__grid_gift-card .ywgc_delivery_info_title{
  display: none;
} */

.gift-cards_form {
  width: 100%;
  max-width: 860px;
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
}

.gift-cards_form input {
  margin: 10px 0 0 !important;
  outline: none;
  padding: 3px 15px;
}
.gift-cards_form textarea {
  margin: 10px 0 0 !important;
  outline: none;
  padding: 3px 15px;
}

/* .gift-card-content-editor {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  grid-template-rows: auto auto;
  grid-template-areas: 
  "recepient sender"
  "message message";
  row-gap: 20px;
  column-gap: 20px;
} */

.ywgc-single-recipient {
  grid-area: recepient;
}
.ywgc-single-recipient .ywgc-recipient-name{
  width: 100%;
}
.ywgc-send-and-delivery-container {
  grid-area: sender;
}
.ywgc-send-and-delivery-container .ywgc-sender-name {
  width: 100%;
}
.ywgc-message {
  grid-area: message;
}

.gift-cards-list {
  margin-bottom: 20px;
}
.selected_button {
  background-color: transparent !important;
  color: var(--text) !important;
}

.gift-cards_form h3 {
    font-size: 18px !important;
    font-weight: 600;
    margin-block: 10px;
    
}

#ywgc-manual-amount, .selected_button #ywgc-manual-amount {
  width: 100%;
  background-color: transparent !important;
  height: auto;
  margin: 0 !important;
  border: none !important;
  outline: none;
  color: var(--text) !important;
}

.selected_button #ywgc-manual-amount:focus, .selected_button #ywgc-manual-amount:active {
  border: none !important;
  outline: none;
  color: var(--text) !important;
}

#ywgc-manual-amount-div-wrapper  {
  height: auto;
}

.ywgc-manual-amount-container .selected_button, .ywgc-manual-amount-container  {
  background-color: transparent !important;
  margin-top: 10px;
  height: 50px;
  border-radius: 5px !important;
  color: var(--text) !important;
}

.ywgc-manual-currency-symbol {
  display: none;
}
/* .selected_button .ywgc-manual-currency-symbol {
  color: var(--text) !important;
  top: 0;
  background-color: var(--background) !important;
} */

.gift_card_template_button {
  margin-top: 5px !important;
}
.gift_card_template_button button{
  width: 100%;
  border: none;
  background-color: var(--accent-color);
  color: var(--white);
}



.gift-cards-list .gift__note {
  font-size: 14px;
  margin-top: 10px;
}

.gift__amounts, .gift__amounts.selected_button {
  font-size: 16px;
  margin-top: 20px;
  display: flex;
  column-gap: 15px;
}

.gift__amounts p {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  height: fit-content;
}

.gift_card_template_button .quantity {
  display: none;
}

.gift_card_add_to_cart_button[disabled],
.gift_card_add_to_cart_button.is-disabled {
  opacity: .5;
  cursor: not-allowed;
  pointer-events: none;
}

.ywgc-recipient-email {
  float: none !important;
  width: 100% !important;
  position: relative;
}

.ywgc-recipient-name {
  float: none !important;
  width: 100% !important;
  position: relative;
}

.gift-cards_form label {
  pointer-events: none;
  position: absolute;
  top: 1.25rem;
  left: 1rem;
  font-size: 1rem;
  display: block;
  padding: 0 .25rem;
  background-color: #fff;
  transition: all .3s ease;
}

.ywgc-recipient-email:has(input:focus) label {
  top: 1.25rem;
  left: 1rem;
  color: red;
}
/* обнуление стандартного вывода ошибок */
.ywgc-red-border {
  border: 1px solid var(--yith-ywgc-border-color) !important;
}
.ywgc-manual-amount-error {
  float: none;
  display: none;
  font-size: 0 !important;
  height: 0;
  margin: 0;
}