/*--------------------------------------------------------------
# Header for desktop
--------------------------------------------------------------*/
.header {
    position: sticky;
    top:0;
    z-index: 9990;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.header__breadcrumb, .woocommerce-breadcrumb {
    font-size: 14px;
    display: flex;
    column-gap: 3px;
    flex-wrap: wrap;
}

.woocommerce-breadcrumb li {
    display: flex;
    column-gap: 3px;
}

.woocommerce-breadcrumb .active {
    font-weight: 700;
}

@media (max-width: 1279px) {
    .woocommerce-breadcrumb {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .woocommerce-breadcrumb {
        padding: 10px 10px 0px;
    }
}


@media (max-width: 1279px) {
    .header__desktop {
        display: none;
    }
}

.header__main {
    color: var(--accent-color);
    padding-top: 15px;
    /* padding-bottom: 10px; */
    position: relative;
    background-color: var(--background);
    margin-top: 0;
    transition: all .3s;
}

.header__main.scrollhidden {
  margin-top: var(--marginTopOffset);
}

.header__main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header__wrap {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 15px;
    justify-content: end;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.site-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    left: -9999rem;
    top: -9999rem;
}

.header__account:hover {
    cursor: pointer;
}

.header__wishlist {
    position: relative;
    margin-right: 10px;
}

.yith-wcwl-items-count i {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

/* cart styles */

.header-cart {
    position: relative;
    margin-right: 15px;
}

.header-btn__wrap, .header-btn__wrap:active, .header-btn__wrap:focus, .header-btn__wrap:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
    text-decoration: none;
}

.header-btn__wrap svg path{
    fill: var(--icons-color) !important;
    stroke: var(--icons-color) !important;
}

@media (hover: hover) {
  .header-btn__wrap:active svg path, .header-btn__wrap:focus svg path, .header-btn__wrap:hover svg path {
    fill: var(--icons-color-active) !important;
    stroke: var(--icons-color-active) !important;
  }
}


.header-btn__wrap_active svg path{
    fill: var(--black-color) !important;
    stroke: var(--black-color) !important;
}

.header-btn__icon {
    height: 25px;
}

.header-btn__icon_large {
    height: 50px;
    margin-bottom: 4px;
}

.header-btn__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    display: none;
}

@media (max-width: 1279px) {
    .header-btn__label {
        display: block;
    }
}


.header__count {
    position: absolute;
    top: -7px;
    font-size: 10px;
    background: var(--icons-color);
    padding: 2px 4px;
    border-radius: 10px;
    line-height: 10px;
    color: var(--white);
}

.header__count_active {
    background: var(--black-color);
}
.header__wishlist .header__count {
   left: 25px;
}

@media (max-width: 1279px) {
    .header__wishlist .header__count {
        right: 11px;
        left: auto;
    }
}

.header-cart .header__count {
    left: 22px;
}

@media (max-width: 1279px) {
    .header-cart .header__count {
        right: 3px;
        left: auto;
    }
}

/* header__info styles */

.header__info {
    background-color: var(--gray);
}

.header__info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__info .social-media__buttons {
  column-gap: 10px;
}

.header__info .social-media__button {
  padding: 0;
  width: 24px;
  height: 24px;
}

.header__info .social-media__button-icon {
  height: 17px;
  width: 17px;
}

/* header__notice styles */

.header__notice {
    padding: 7px 0;
    text-align: center;
    font-weight: 600;
}
.header__notice-wrap, .header__notice-wrap_mob {
    background-color: var(--notice-red);
}

@media (max-width: 1279px) {
    .header__notice-wrap {
        display: none;
    }

    .header__notice {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media (min-width: 1279px) {
    .header__notice-wrap_mob {
        display: none;
    }
}

/* .header__notice-wrap_mob {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
} */

/* telegram btn styles */
.header__telegram, .header__telegram:visited {
    background-color: var(--telegram);
    border-color: var(--telegram);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 5px 7px 5px 7px;
    color: var(--white);
}
.header__telegram:hover {
    color: var(--white);
}

.header__telegram-icon {
  margin-right: 5px;
}


/*--------------------------------------------------------------
# Header for mobile         #adaptive
--------------------------------------------------------------*/

/* header mob */

@media (min-width: 1279px) {
    .header__mob {
        display: none;
    }
    .header__nav-wrap {
        display: none;
    }
}

@media (max-width: 1279px) {
    .header {
        margin-top: 55px;
    }

    .header__mob {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: auto;
        z-index: 9999;
        background-color: var(--background);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    }

    .header__nav-wrap {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background-color: var(--background);
        align-items: end;
        box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        padding-bottom: 10px;
    }

    .header-btn__wrap_mob, .header-btn__wrap_mob:active, .header-btn__wrap_mob:focus, .header-btn__wrap_mob:hover {
        padding: 5px 10px;
        background-color: var(--accent-color);
        border-radius: 5px;
    }
    .header-btn__wrap_mob svg path {
        fill: var(--white) !important;
        stroke: var(--white) !important;
    }

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 30px 0;
    margin-top: 30px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    row-gap: 30px;
}

.footer__menu-wrap {
	min-width: 200px;
}

.footer__menu-list {
    margin-left: 0; 
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.footer__menu-palnts .menu-item, .footer__info-menu .menu__item {
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 10px;
}

.footer__heading, .footer__menu-services .menu-item, .footer__info-menu .menu__item_accent  {
    list-style-type: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: inherit;
    margin: 0;
    }
  
.footer__heading_link, .footer__menu-services .menu-item {
    text-decoration: none;
    color: inherit;
    display: block;
}

.footer__heading_link:hover, .footer__menu-services .menu-item:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.footer__info {
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}

.footer__info-copyright {
  margin-right: 20px;
}
.footer__info-requsits {
  margin: 10px 0;
  font-size: 12px;
}

.footer__info-link {
  color: inherit;
  text-decoration: underline;
  display: block;
}

.footer__info-link:hover {
  text-decoration: none;
}

.footer__contacts-heading {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: inherit;
    margin: 0;
}

.footer__contacts .contacts-part__wrap {
    margin: 0;
    display: block;
}

.footer__contacts .contacts-part__phones {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1279px) {
    .footer {
        padding-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .footer__contacts {
        order: -1;
        width: 100%;
    }
    .footer {
        padding-bottom: 130px;
    }
}

/* search and search popup styles */

.search__wrap {
    position: absolute;
    top: 46px;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 0;

    background: var(--background);
    width: 800px;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transition:
    opacity .5s ease-in-out,
    visibility 0s linear .5s,
    transform .3s; 
}

.search__wrap.search_open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition:
    opacity .5s ease-in-out,
    visibility 0s,
    transform .3s;
}

/* .fix-body .search__wrap {
  left: calc(50% - var(--scrollWidth));
  transform: translateX(calc(-50% + var(--scrollWidth)));
} */

@media((min-width: 1279px)) {
  .search__wrap.scrollhidden {
    transform: translateX(-50%) translateY(var(--marginTopOffset));
  }
}


@media((max-width: 1279px)) {
  .search__wrap {
    position: fixed;
    top: 10px;
    opacity: 0;
    visibility: visible;
    z-index: -1;
    width: calc(100% - 200px);
    transition:
    z-index .5s ease-in-out,
    opacity .5s ease-in-out,
    visibility 0s;
  }
  
  .search__wrap.search_open {
    z-index: 10000;
  }
}

@media((max-width: 767px)) {
  .search__wrap {
    width: calc(100% - 125px);
  }
}

.search-field {
  width: 0;
  padding: 5px 20px !important;
  border-radius: 40px !important;
  transition: width 0.5s ease-in-out;
  box-sizing: border-box !important;
}
.search_open .search-field {
  width: 100%;
}

input[type="search"], input[type="search"]:focus-visible {
    outline: none;
}

.search__wrap .search__clean {
  position: absolute;
  top: 5px;
  right: calc(100% - 45px);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  border-radius: 100px;
}

.search__wrap.search_open .search__clean {
  right: 7px;
  opacity: 1;
  /* transition: all .1s; */
}

.search__clean svg path {
  stroke: var(--icons-color) !important;
}

.search-result {
  display: flex;
  flex-direction: column;
  
  max-height: 80dvh;
  width: 800px;
  
  position: absolute;
  top: calc(var(--headerHeight) - 44px); /*44 высота зеленого меню header__main-menu-wrap*/
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--background);
}

.search-result.scrollhidden {
  transform: translateX(-50%) translateY(var(--marginTopOffset));
}

/* .fix-body .search-result {
  left: calc(50% - var(--scrollWidth));
} */

@media((max-width: 1279px)) {
  .search-result {
    top: 8px;
    width: calc(100% - 200px);
  }
  .search-result.scrollhidden {
    transform: translateY(50px) translateX(-50%);
  }
}

@media((max-width: 767px)) {
  .search-result {
    top: 8px;
    width: calc(100dvw - 20px);
    max-height: calc(100dvh - 150px);
    z-index: 9999;
  }
}

.search-result.is-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
}

.search-result__items {
    max-height: calc(80vh - 55px);
    overflow-y: auto;
    margin: 10px;
}

.search-btn {
  position: relative;
}

.search-result__row_price {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

@media((max-width: 767px)) {
  .search-result__row_price {
    flex-direction: column;
  }
}

/* по умолчанию показываем лупу, скрываем крестик */
.search-btn .icon-search {
  display: inline-block;
}
.search-btn .icon-close {
  display: none;
}

/* когда открыт поиск — показываем крестик, скрываем лупу */
.search-btn.search_open .icon-search {
  display: none;
}
.search-btn.search_open .icon-close {
  display: inline-block;
}

/* стили для скролла scroll */
 /* start custom scroll */
.search-result::-webkit-scrollbar {
	width: 4px;
}

.search-result::-webkit-scrollbar-track {
    background: transparent;  /* Скрыть трек */
}

.search-result::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3); /* бледный по умолчанию */
    border-radius: 4px;
    transition: background-color 0.2s ease;  
}

.search-result:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.7); /* ярче при скролле */
}

.search-result::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* end custom scroll */

.search-result__text {
    margin-block: 25px;
}

.search-result__btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white);
    margin: 10px;
}

.search-result__item {
    position: relative;
}

.search-result__item:first-child {
    padding-top: 20px;
}

.search-result__item:last-of-type {
    padding-bottom: 40px;
}

.search-result__link {
    display: flex;
    column-gap: 20px;
    padding: 10px;
    align-items: center;
}

.search-result__link:hover {
    text-decoration: none;
    background-color: var(--gray);
}

.search-result__title {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

@media (max-width:767px) {
  .search-result__title  {
      font-size: 16px;
    }
}

.search-result__descr {
    font-weight: 600;
    font-size: 16px;
    /* margin-bottom: 15px; */
    display: block;
}

.search-result__reg-price {
    font-size: 20px;
    font-weight: 400;
    color: red;
    text-decoration: line-through;
}

.search-result__price {
    font-size: 20px;
    font-weight: 700;
}

.search-result__item img {
    object-fit: contain;
    height: 60px;
}

.search-result__info {
  display: flex;
  /* flex-direction: column; */
  row-gap: 10px;
  align-items: start;
  column-gap: 20px;
  width: 100%;
  justify-content: space-between;
}

/* @media (max-width:900px) {
  .search-result__info  {
      width: 100%;
    }
} */

.search-result__item .card__stockstatus {
  font-size: 12px;
  /* top: 12px; */
  /* z-index: 0; */
  position: static;
  width: 155px;
  margin-top: 10px;
}

.search-result__item .card__stockstatus_backorder {
  display: none;
}
.search-result__item .card__stockstatus_out {
  display: none;
}



