/*--------------------------------------------------------------
# Header for desktop
--------------------------------------------------------------*/
.header {
  --padding: 12px;
  position: sticky;
  top:0;
  z-index: 9990;
  margin-bottom: var(--padding);
}

@media (max-width: 767px) {
  .header {
    --padding: 8px;
  }
}
  
.header:has(.scrollhidden) {
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

/* header__desktop */

@media (max-width: 1150px) {
    .header__desktop {
        display: none;
    }
}

/* header__info */

.header__info {
  background-color: var(--green-l-color);
}

.header__info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding-block: var(--padding);
}

.header__info .menu__list {
  display: flex;
  gap: 24px;
}

.header__info .menu__list [data-js-dropdown-open] {
  --offset: 14px;
}

.header__info-contacts {
  display: flex;
  column-gap: 24px;
  justify-content: end;
  align-items: center;
}

.header__info-phones {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--black-color);
}

/* header__main */

.header__main {
  position: relative;
  transition-duration: var(--transition-duration);
  background-color: var(--background);
}

.header__main.scrollhidden {
  margin-top: var(--marginTopOffset);
}

.header__main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--padding);
  gap: 80px;
  color: var(--black-color);
}

.header__main-bottom {
  padding-block: var(--padding);
}

.header__main-wrap {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__main-wrap:last-child {
  justify-content: end;
  flex: 1;
}

.header__main-menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__main-btns-wrap {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--gray-color);
}

.header__main-btn {
  /* color: var(--gray-color); */
  /* position: relative; */
}

@media (hover: hover) {
  .header__main-btn:hover{
    color: var(--black-color);
  }
}

.header__main-catalog-dropdown {
  position: absolute;
  top: var(--headerMainTopHeight);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition-duration: var(--transition-duration);
}

.header__main-catalog-dropdown.is-open {
  opacity: 1;
  visibility: visible;
}

/* header__actions */
.header__actions {
  position: relative;
  width: fit-content;
  display: flex;
}

@media (hover: hover) {
  .header__actions:hover {
    cursor: pointer;
  }
}

.yith-wcwl-items-count i {
  font-style: normal;
}


.header__actions-count {
  position: absolute;
  top: -4px;
  right: -4px;
  display: none;
  font-size: 8px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: var(--accent-color);
  color: var(--white-color);
}

.header__actions-count--active {
  display: inline-flex;
  align-items: center;
  justify-content: center;  
}

/* header__mob */

.header__mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--container-padding);
  z-index: 9999;
  background-color: var(--background);
  color: var(--black-color);
}

@media (min-width: 1151px) {
  .header__mob {
    display: none;
  }
}

/* header nav */

.header__nav {
  display: none;
}

@media (max-width: 1150px) {
  .header__nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--background);
    align-items: end;
    box-shadow: 0px -2px 16px 0px #072F210F;
    border-top: var(--border);
    padding-block: 14px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    color: var(--gray-color);
  }
}

.header__nav-actions-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  flex: 1 1 0;
}

.header__nav-actions-label {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-l-color);
}

/* woocommerce-breadcrumb */

.woocommerce-breadcrumb li {
    display: flex;
    column-gap: 3px;
}

.woocommerce-breadcrumb .active {
    font-weight: 700;
}

@media (max-width: 1279px) {
    .woocommerce-breadcrumb {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .woocommerce-breadcrumb {
        padding: 10px 10px 0px;
    }
}


/* header__notice styles */

.header__notice {
    padding: 7px 0;
    text-align: center;
    font-weight: 600;
}
.header__notice-wrap, .header__notice-wrap_mob {
    background-color: var(--notice-red);
}

@media (max-width: 1279px) {
    .header__notice-wrap {
        display: none;
    }

    .header__notice {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media (min-width: 1279px) {
    .header__notice-wrap_mob {
        display: none;
    }
}


