/*--------------------------------------------------------------
# Header for desktop
--------------------------------------------------------------*/
.header {
    position: sticky;
    top:0;
    z-index: 9990;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.header__breadcrumb, .woocommerce-breadcrumb {
    font-size: 14px;
}

@media (max-width: 1279px) {
    .woocommerce-breadcrumb {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .woocommerce-breadcrumb {
        padding: 10px 10px 0px;
    }
}


@media (max-width: 1279px) {
    .header__desktop {
        display: none;
    }
}

.header__main {
    color: var(--accent-color);
    padding-top: 15px;
    /* padding-bottom: 10px; */
    position: relative;
    background-color: var(--background);
    margin-top: 0;
    transition: all .3s;
}

.header__main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header__wrap {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 15px;
    justify-content: end;
}

.logo {
    display: flex;
    align-items: center;
}

.site-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    left: -9999rem;
    top: -9999rem;
}

.header__account:hover {
    cursor: pointer;
}

.header__wishlist {
    position: relative;
    margin-right: 10px;
}

.yith-wcwl-items-count i {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
}

/* cart styles */

.header-cart {
    position: relative;
    margin-right: 15px;
}

.header-btn__wrap, .header-btn__wrap:active, .header-btn__wrap:focus, .header-btn__wrap:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
    text-decoration: none;
}

.header-btn__wrap svg path{
    fill: var(--icons-color) !important;
    stroke: var(--icons-color) !important;
}

.header-btn__wrap:active svg path, .header-btn__wrap:focus svg path, .header-btn__wrap:hover svg path {
    fill: var(--icons-color-active) !important;
    stroke: var(--icons-color-active) !important;
}

.header-btn__wrap_active svg path{
    fill: var(--black-color) !important;
    stroke: var(--black-color) !important;
}

.header-btn__icon {
    height: 25px;
}

.header-btn__icon_large {
    height: 50px;
    margin-bottom: 4px;
}

.header-btn__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    display: none;
}

@media (max-width: 1279px) {
    .header-btn__label {
        display: block;
    }
}


.header__count {
    position: absolute;
    top: -7px;
    font-size: 10px;
    background: var(--icons-color);
    padding: 2px 4px;
    border-radius: 10px;
    line-height: 10px;
    color: var(--white);
}

.header__count_active {
    background: var(--black-color);
}
.header__wishlist .header__count {
   left: 25px;
}

@media (max-width: 1279px) {
    .header__wishlist .header__count {
        right: 11px;
        left: auto;
    }
}

.header-cart .header__count {
    left: 22px;
}

@media (max-width: 1279px) {
    .header-cart .header__count {
        right: 3px;
        left: auto;
    }
}

/* header__info styles */

.header__info {
    background-color: var(--gray);
}

.header__info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* header__notice styles */

.header__notice {
    padding: 7px 0;
    text-align: center;
    font-weight: 600;
}
.header__notice-wrap, .header__notice-wrap_mob {
    background-color: var(--notice-red);
}

@media (max-width: 1279px) {
    .header__notice-wrap {
        display: none;
    }

    .header__notice {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media (min-width: 1279px) {
    .header__notice-wrap_mob {
        display: none;
    }
}

/* .header__notice-wrap_mob {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
} */

/* telegram btn styles */
.header__telegram, .header__telegram:visited {
    background-color: var(--telegram);
    border-color: var(--telegram);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 5px 7px 5px 7px;
    color: var(--white);
}
.header__telegram:hover {
    color: var(--white);
}

.header__telegram-icon {
  margin-right: 5px;
}


/*--------------------------------------------------------------
# Header for mobile         #adaptive
--------------------------------------------------------------*/

/* header mob */

@media (min-width: 1279px) {
    .header__mob {
        display: none;
    }
    .header__nav-wrap {
        display: none;
    }
}

@media (max-width: 1279px) {
    .header {
        margin-top: 55px;
    }

    .header__mob {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: auto;
        z-index: 9999;
        background-color: var(--background);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    }

    .header__nav-wrap {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background-color: var(--background);
        align-items: end;
        box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        padding-top: 17px;
        padding-bottom: 10px;
    }

    .header-btn__wrap_mob, .header-btn__wrap_mob:active, .header-btn__wrap_mob:focus, .header-btn__wrap_mob:hover {
        padding: 5px 10px;
        background-color: var(--accent-color);
        border-radius: 5px;
    }
    .header-btn__wrap_mob svg path {
        fill: var(--white) !important;
        stroke: var(--white) !important;
    }

}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background-color: var(--accent-color);
    color: var(--white);
    padding: 30px 0;
    margin-top: 30px;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    row-gap: 30px;
}

.footer__menu-wrap {
	min-width: 200px;
}

.footer__menu-list {
    margin-left: 0; 
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.footer__menu-palnts .menu-item, .footer__info-menu .menu__item {
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 10px;
}

.footer__heading, .footer__menu-services .menu-item, .footer__info-menu .menu__item_accent  {
    list-style-type: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: inherit;
    margin: 0;
    }
  
.footer__heading_link, .footer__menu-services .menu-item {
    text-decoration: none;
    color: inherit;
    display: block;
}

.footer__heading_link:hover, .footer__menu-services .menu-item:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.footer__info {
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}

.footer__info-copyright {
  margin-right: 20px;
}
.footer__info-requsits {
  margin: 10px 0;
  font-size: 12px;
}

.footer__info-link {
  color: inherit;
  text-decoration: underline;
  display: block;
}

.footer__info-link:hover {
  text-decoration: none;
}

.footer__contacts-heading {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: inherit;
    margin: 0;
}

.footer__contacts .contacts-part__wrap {
    margin: 0;
    display: block;
}

.footer__contacts .contacts-part__phones {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1279px) {
    .footer {
        padding-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .footer__contacts {
        order: -1;
        width: 100%;
    }
    .footer {
        padding-bottom: 130px;
    }
}



