/*--------------------------------------------------------------
# Header for desktop
--------------------------------------------------------------*/

.header__breadcrumb {
    margin-top: 10px;
}

@media (max-width: 1279px) {
    .header__desktop {
        display: none;
    }
}

.header {
    /* margin-bottom: 10px; */
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}

.logo {
    display: flex;
    align-items: center;
}

.header__description {
    margin-left: 8px;
}

.site-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.header__wishlist {
    position: relative;
}

.fa-heart-o:before {
    content: "";
}

.yith-wcwl-icon {
    font-family: 'Nunito', sans-serif;
}

/* cart styles */

.header-cart {
    position: relative;
}

.header-btn__wrap, .header-btn__wrap:active, .header-btn__wrap:focus, .header-btn__wrap:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
    text-decoration: none;
}

.header-btn__icon {
    height: 25px;
}

.header-btn__icon_large {
    height: 50px;
    margin-bottom: 4px;
}

.header-btn__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.header__count {
    position: absolute;
    top: -7px;
    right: 3px;
    font-size: 10px;
    background: var(--red-color);
    padding: 2px 4px;
    border-radius: 10px;
    line-height: 10px;
    color: var(--white);
}

/* header__info styles */

.header__info {
    background-color: var(--gray);
}

.header__info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* telegram btn styles */
.header__telegram, .header__telegram:visited {
    background-color: var(--telegram);
    border-color: var(--telegram);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    padding: 5px 7px 5px 7px;
    color: var(--white);
}
.header__telegram:hover {
    color: var(--white);
}

.header__telegram-icon {
  margin-right: 5px;
}


/*--------------------------------------------------------------
# Header for mobile         #adaptive
--------------------------------------------------------------*/

/* header mob */

@media (min-width: 1279px) {
    .header__mob {
        display: none;
    }
}

@media (max-width: 1279px) {
    .header__mob {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-btn__wrap_mob, .header-btn__wrap_mob:active, .header-btn__wrap_mob:focus, .header-btn__wrap_mob:hover {
        padding: 5px 10px;
        background-color: var(--accent-color);
        border-radius: 5px;
    }
}

.header__nav-wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--background);
    align-items: end;
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
    padding-right: 30px;
    padding-left: 30px;
}

/*--------------------------------------------------------------
# Mini cart
--------------------------------------------------------------*/

/* mini-cart */

.mini-cart__wrap {
    position: absolute;
    top: 48px;
    right: 0;
    z-index: 99999;
    visibility: hidden;
    background: transparent;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 200ms ease-out;
}

.mini-cart {
    background: var(--background);
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.header-cart:hover .mini-cart__wrap {
    visibility: visible;
    transform: translateY(0);
    opacity: 100%;
}

.woocommerce-mini-cart {
    margin-bottom: 25px;
    color: var(--text);
}

.woocommerce-mini-cart-item {
    display: grid;
    grid-template-columns: 100px 150px auto;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "image name remove"
    "image price x";
    column-gap: 10px;
    margin-bottom: 10px;
}

.woocommerce-mini-cart-item .remove {
    grid-area: remove;
    font-size: 24px;
    font-weight: 700;
    line-height: 0;
    padding-top: 7px;
}

.woocommerce-mini-cart-item .product {
    grid-area: image;
}

.woocommerce-mini-cart-item .product-name {
    grid-area: name;
    font-size: 18px;
    font-weight: 600;
}

.woocommerce-mini-cart-item .quantity {
    grid-area: price;
}

.woocommerce-mini-cart-item .quantity .woocommerce-Price-amount  {
    font-size: 22px;
    font-weight: 700;
}

.woocommerce-mini-cart__total {
    color: var(--text);
}
.woocommerce-mini-cart__total span {
    font-size: 18px;
    font-weight: 600;
}

.woocommerce-mini-cart__total .woocommerce-Price-amount {
    font-size: 24px;
    font-weight: 600;
}

.woocommerce-mini-cart__buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
}

.woocommerce-mini-cart__buttons .button {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 7px;
}

.woocommerce-mini-cart__buttons .checkout {
    margin-bottom: 10px;
    color: var(--white);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
} 

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background-color: var(--accent-color);
    height: 300px;
    color: var(--white);
}

.footer__nav {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    row-gap: 30px;
}

.footer__menu-wrap {
	min-width: 200px;
}

.footer__menu-list {
    margin-left: 0; 
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.footer__menu-list .menu-item {
    color: #fff;
    list-style-type: none;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 10px;
}

.footer__heading {
    list-style-type: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: inherit;
      margin: 0;
  }
  
.footer__heading_link {
text-decoration: none;
color: inherit;
display: block;
}

.footer__heading_link:hover {
cursor: pointer;
    color: inherit;
    text-decoration: underline;
}


.footer__info {
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}
.footer__info-copyright {
  margin-right: 20px;
}
.footer__info-requsits {
  margin: 20px 0;
  font-size: 12px;
}

.footer__info-link {
  color: inherit;
}