.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
}

.site-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

/* cart styles */

.header-cart {
    position: relative;
}

.header-cart__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.header-cart__label {
    font-size: 14px;
    font-weight: 600;
}

.header-cart__count {
    position: absolute;
    top: -7px;
    right: 3px;
    font-size: 10px;
    background: var(--red-color);
    padding: 2px 4px;
    border-radius: 10px;
    line-height: 10px;
    color: var(--white-color);
}


/* main menu styles */

.header__menu {
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: 15px 0;
}
.primary-menu {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 14px;
}

/* .primary-menu a, .sub-menu a {
    text-decoration: none;
}

.primary-menu a:hover, .sub-menu a:hover {
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
} */
