/* first sreen styles */

.main__wrap {
    display: grid;
    grid-template-columns: 70% 30%;
    row-gap: 50px;
}

/* стили для swiper */
@media (min-width:1279px) {
    
    .main__wrap .swiper-button-prev, .main__wrap .swiper-button-next {
        margin-top: 0;
        top: 123px;
    }
}


.main__row {
    margin-bottom: 75px;
}

@media (max-width:1279px) {

    .main__wrap {
        grid-template-columns: 100%;
        row-gap: 30px;
    }
}

@media (max-width:767px) {
    .main__row {
        margin-bottom: 45px;
    }

    /* .main__wrap {
        display: flex;
        flex-direction: column-reverse;
    } */
}

/* banners */

.main__wrap-colored-bg {
    background-color: #F5F5F6;
    padding: 20px 0;
}

.main__banners-wrap {
    margin-right: 20px;
    position: relative;
}

@media (max-width:1279px) {
    .main__banners-wrap {
        margin-right: 0;
    }
}

.main__banners {
    border-radius: 5px;
}

/* advantages */
.advantages {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2,auto);
    row-gap: 30px;
    column-gap: 30px;
    margin-right: 20px;
}

.advantages__wrap {
    row-gap: 15px;
    display: grid;
    grid-template: repeat(2, auto) / 70px auto;
    grid-template-areas: "photo title"
    "desrc desrc";
}

.advantages__title {
    grid-area: title;
    margin: auto 0 auto 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.advantages__image {
    grid-area: photo;
    width: 70px;
    height: 70px;
    margin: auto 10px auto 0;
}

.advantages__descr {
    grid-area: desrc;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.advantages_mob {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}
    
.advantages__wrap_mob {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: fit-content;
}

.advantages__title-wrap_mob {
    display: flex;
    align-items: center;
    background-color: var(--e-global-color-ce8c95e);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.advantages__image_mob {
    width: 50px;
    height: 50px;
    margin: auto 10px auto 0
}

.advantages__title_mob {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.advantages__descr_mob {
    min-width: 300px;	
    font-size: 14px;
    font-weight: 500;
    background-color: #F7F7F7;
    padding: 10px;
    min-height: 120px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* advantages  #adaptive*/

@media (max-width:767px) {
    .advantages {
        display: flex;
        overflow-y: scroll;
        padding-bottom: 10px;
        margin: 0;
    }

    .advantages__wrap {
        grid-template-columns: 50px auto;
        row-gap: 10px;
        min-width: 300px;
        background-color: var(--gray);
        padding: 10px;
        min-height: 120px;
        border-radius: 10px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    }

    .advantages__title {
        font-size: 16px;
        /* margin: 0; */
        align-self: center;
    }

    .advantages__descr {
        font-size: 14px;
    }

    .advantages__image {
        width: 50px;
        height: 50px;
        /* margin: 0; */
    }
}

.overflow_section {
    overflow-x: auto;
    width: fit-content;
}


/* contacts ellipse */

.main__contacts {
    border-radius: 1000px;
    background-color: var(--accent-color);
    width: 334px;
    height: 334px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
}

.main__contacts-text {
    text-align: center;
    color: var(--white);
    font-size: 22px;
    line-height: 1.15;
    font-weight: 400;
    max-width: 250px;
}

.social-media__buttons {
    display: flex;
    column-gap: 30px;
    border-radius: 100px;
}

.social-media__button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
}

.social-media__button-telegram {
    background-color: var(--telegram);
}

.social-media__button-whatsapp {
    background-color: var(--whatsapp);
}

.social-media__button-icon {
    height: 30px;
    fill: white;
    margin: auto; 
}

@media (max-width:767px) {
    .main__contacts {
        width: 270px;
        height: 270px;
        row-gap: 25px;
    }

    .main__contacts-text {
        font-size: 20px;
    }
}


/* about section */

.main__about-heading {
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 30px;
}

.main__about-text, .main__about-list {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 500;
}

.main__about-list {
    padding-left: 20px;
    list-style: inside;
}

.main__about-list li {
    margin-bottom: 10px;
}


/* about section    #adaptive*/

@media (max-width:767px) {
    .main__about-heading {
        font-size: 20px;
        font-weight: 700;
    }

    .main__about-text, .main__about-list {
        font-size: 16px;
        margin-bottom: 10px;
    }
}


/* categories grid */

.cats-grid {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "palms lisv lisv neprikhotliv"
    "palms lisv lisv neprikhotliv"
    "palms napol cvetush neprikhotliv"
    "palms napol cvetush succulent"
    "fikus napol lianas petfriendly"
    "fikus napol lianas petfriendly"
    ;
}

@media (max-width:767px) {
    .cats-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
        "lisv lisv"
        "lisv lisv"
        "palms fikus"
        "palms fikus"
        "palms napol"
        "palms napol"
        "cvetush napol"
        "cvetush napol"
        "neprikhotliv lianas"
        "neprikhotliv lianas"
        "neprikhotliv petfriendly"
        "succulent petfriendly"
        ;
    }  
}

.cats-grid__inner_palms {
    grid-area: palms;
}
.cats-grid__inner_lisv {
    grid-area: lisv;
}
.cats-grid__inner_neprikhotliv {
    grid-area: neprikhotliv;
}
.cats-grid__inner_napol {
    grid-area: napol;
}
.cats-grid__inner_cvetush {
    grid-area: cvetush;
}
.cats-grid__inner_succulent {
    grid-area: succulent;
}
.cats-grid__inner_lianas {
    grid-area: lianas;
}
.cats-grid__inner_petfriendly {
    grid-area: petfriendly;
}
.cats-grid__inner_fikus {
    grid-area: fikus;
}

.cats-grid__inner {
    border: solid 1px black;
    min-height: 80px;
    font-size: 0;
    position: relative;
}

.cats-grid__title {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    color: var(--accent-color);
}