/* first sreen styles */

.main__wrap {
    display: grid;
    grid-template-columns: 70% 30%;
    row-gap: 50px;
}

@media (max-width:1279px) {
    .main__wrap {
        grid-template-columns: 100%;
        row-gap: 30px;
    }
}


.main__row {
    margin-bottom: 55px;
}


@media (max-width:767px) {
    .main__row {
        margin-bottom: 45px;
    }
}

/* стили для swiper */
@media (min-width:1279px) {
    
    .main__wrap .swiper-button-prev, .main__wrap .swiper-button-next {
        margin-top: 0;
        top: 123px;
    }
}

/* banners */

.main__wrap-colored-bg {
    background-color: #F5F5F6;
    padding: 20px 0;
}

.main__banners-wrap {
    /* margin-right: 20px; */
    position: relative;
}

.main__banners-wrap img {
    vertical-align: bottom;
}

/* @media (max-width:1279px) {
    .main__banners-wrap {
        margin-right: 0;
    }
} */

.main__banners {
    border-radius: 5px;
    height: 100%;
}

.main__banners_no-link:hover {
    cursor: default ;
}

.main__banners_mob {
    display: none;
}

@media (max-width: 767px) {
    .main__banners {
        display: none;
    }
    .main__banners_mob {
        display: block;
    }
}

.main__banners, .main__banners_mob {
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.main__banners img, .main__banners_mob img {
    border-radius: 5px;
    width: 100%;
}

/* catalog buttons */

.main__catalog-buttons-wrap {
    display: none;
}

@media (max-width:1279px) {
    .main__catalog-buttons-wrap {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        margin-top: 30px;
    }
}

.main__plants-button {
    color: var(--white);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    width: 100%;
}

.main__gorshki-button {
    color: var(--accent-color);
    background-color: transparent;
    border-color: var(--accent-color);
    width: 100%;
}

/* advantages */
.advantages {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2,auto);
    row-gap: 30px;
    column-gap: 30px;
    margin-right: 20px;
}

.advantages__wrap {
    row-gap: 15px;
    display: grid;
    grid-template: repeat(2, auto) / 70px auto;
    grid-template-areas: "photo title"
    "desrc desrc";
}

.advantages__title {
    grid-area: title;
    margin: auto 0 auto 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.advantages__image {
    grid-area: photo;
    width: 70px;
    height: 70px;
    margin: auto 10px auto 0;
}

.advantages__descr {
    grid-area: desrc;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}

.advantages_mob {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}
    
.advantages__wrap_mob {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: fit-content;
}

.advantages__title-wrap_mob {
    display: flex;
    align-items: center;
    background-color: var(--e-global-color-ce8c95e);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.advantages__image_mob {
    width: 50px;
    height: 50px;
    margin: auto 10px auto 0
}

.advantages__title_mob {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.advantages__descr_mob {
    min-width: 300px;	
    font-size: 14px;
    font-weight: 500;
    background-color: #F7F7F7;
    padding: 10px;
    min-height: 120px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* advantages  #adaptive*/

@media (max-width:767px) {
    .advantages {
        display: flex;
        flex-direction: column;
        /* overflow-y: scroll; */
        /* padding-bottom: 10px; */
        margin: 0;
        row-gap: 20px;
    }

    .advantages__wrap {
        grid-template-columns: 50px auto;
        row-gap: 10px;
        min-width: 300px;
        background-color: var(--gray);
        padding: 10px;
        min-height: 120px;
        border-radius: 10px;
        /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); */
    }

    .advantages__title {
        font-size: 16px;
        /* margin: 0; */
        align-self: center;
    }

    .advantages__descr {
        font-size: 14px;
    }

    .advantages__image {
        width: 50px;
        height: 50px;
        /* margin: 0; */
    }
}

.overflow_section {
    overflow-x: auto;
    width: fit-content;
}


/* contacts ellipse */

.main__contacts {
    border-radius: 100%;
    background-color: var(--accent-color);
    width: 334px;
    height: 334px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
}

.main__contacts-text {
    text-align: center;
    color: var(--white);
    font-size: 22px;
    line-height: 1.15;
    font-weight: 400;
    max-width: 250px;
}

.social-media__buttons {
    display: flex;
    column-gap: 30px;
    border-radius: 100%;
}

.social-media__button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    /* padding: 0; */
}

.social-media__button-telegram {
    background-color: var(--telegram);
}

.social-media__button-whatsapp {
    background-color: var(--whatsapp);
}

.social-media__button-icon {
    height: 30px;
    fill: white;
    margin: auto; 
}

/* .social-media__button-telegram .social-media__button-icon path {
    stroke: var(--gray-text);
}

.social-media__button-whatsapp .social-media__button-icon path {
    fill: var(--gray-text);
} */

@media (max-width:767px) {
    .main__contacts {
        width: 270px;
        height: 270px;
        row-gap: 25px;
    }

    .main__contacts-text {
        font-size: 20px;
    }
}

/*telegram section*/

.main__telegram {
    min-height: 120px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background-image: url(https://plantis-shop.ru/wp-content/themes/plantis_site/images/telegram-2.webp), radial-gradient(#4AB0E9, #ABDAF5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width:767px) {
    .main__telegram {
       margin-top: -10px;
    }
}

@media (min-width:1279px) {
    .main__telegram {
        background-image: url(https://plantis-shop.ru/wp-content/themes/plantis_site/images/telegram_mob_square.webp), radial-gradient(#4AB0E9, #ABDAF5);
    }
}

@media (min-width:767px) {
    .main__telegram {
        min-height: 200px;
    }
}

/* about section */
.main__about-first-screen {
    display: grid;
    grid-template-columns: 550px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title photo"
        "intro photo";
    column-gap: 100px;
    row-gap: 40px;
    padding: 50px;
    background-color: var(--gray);
    border-radius: 40px;
    margin-bottom: 50px;
}

@media(max-width: 1300px) {
    .main__about-first-screen {
        grid-template-columns: 500px auto;
    }
}

@media(max-width: 1000px) {
    .main__about-first-screen {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
         grid-template-areas:
        "title"
        "intro"
        "photo";
        margin-bottom: 30px;
        padding: 30px;
        row-gap: 25px;
    }
}

.main__about-heading {
    grid-area: title;
    color: var(--text);
}

@media(max-width: 767px) {
    .main__about-heading {
       font-size: 24px;
    }
}

.main__about-intro {
    grid-area: intro;
    font-size: 22px;
    line-height: 1.3;
}

@media(max-width: 767px) {
    .main__about-intro {
        font-size: 18px;
        line-height: 1.4;
    }
}

.main__about-photo {
    grid-area: photo;
    border-radius: 40px;
    height: 445px;
    width: 100%;
    object-fit: cover;
}

@media(max-width: 1000px) {
    .main__about-photo {
        height: 200px;
    }
}

.main__about-block {
    display: grid;
    grid-template-columns: 550px auto;
    padding: 50px;
    margin-bottom: 50px;
    column-gap: 100px;
    row-gap: 25px;
}

@media(max-width: 1300px) {
    .main__about-block {
        grid-template-columns: 400px auto;
    }
}

@media(max-width: 1000px) {
    .main__about-block {
        grid-template-columns: auto;
        margin-bottom: 30px;
        padding: 0 30px;
    }
}

.main__about-block_assort {
    background-color: var(--gray);
    border-radius: 40px;
    grid-template-rows: auto 70px;
    grid-template-areas: "heading list"
    "button list";
}

@media(max-width: 1000px) {
    .main__about-block_assort {
        padding: 30px;
        grid-template-rows: auto auto 50px;
        grid-template-areas: "heading"
        "list"
        "button";
    }
}

.main__about-block-heading {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--text);
}

.main__about-block_assort .main__about-block-heading {
    grid-area: heading;
}

@media(max-width: 767px) {
    .main__about-block-heading  {
       font-size: 20px;
    }
}


.main__about-block-button {
    grid-area: button;
    background-color: var(--text);
    color: var(--white);
    border-radius: 50px;
    margin: 10px 0;
}


@media(max-width: 1000px) {
    .main__about-block-button {
        margin: 0;
    }
}


.main__about-text {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 500;
}

.main__about-assort-list {
    grid-area: list;
}

.main__about-assort-list li {
    font-size: 18px;
    padding: 15px 0;
    border-bottom: solid 1px var(--gray-text);
    line-height: 1.2;
}

@media(max-width: 767px) {
    .main__about-assort-list li  {
       font-size: 16px;
    }
}


.main__about-assort-list li:first-child {
    padding-top: 0;
}


/* about section    #adaptive*/

@media (max-width:767px) {
    .main__about-heading {
        font-size: 20px;
        font-weight: 700;
    }

    .main__about-text, .main__about-list {
        font-size: 16px;
        margin-bottom: 10px;
    }
}


/* categories grid */

/* .cats-grid-wrap {display: none;} */
.cats-grid {
    display: grid;
    /* column-gap: 10px;
    row-gap: 10px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "palms lisv lisv neprikhotliv"
    "palms lisv lisv neprikhotliv"
    "palms napol cvetush neprikhotliv"
    "palms napol cvetush succulent"
    "fikus napol lianas petfriendly"
    "fikus napol lianas petfriendly"
    ;
}

@media (max-width:767px) {
    /* .cats-grid-wrap {display: block;} */
    .cats-grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(12, auto);
        grid-template-areas:
        "lisv lisv"
        "lisv lisv"
        "palms fikus"
        "palms fikus"
        "palms napol"
        "palms napol"
        "cvetush napol"
        "cvetush napol"
        "neprikhotliv lianas"
        "neprikhotliv lianas"
        "neprikhotliv petfriendly"
        "succulent petfriendly"
        ;
        row-gap: 0;
        column-gap: 0;
    }  
}

.cats-grid__inner_palms {
    grid-area: palms;
    aspect-ratio: 1/2;
}
.cats-grid__inner_lisv {
    grid-area: lisv;
    aspect-ratio: 2/1;
}
.cats-grid__inner_neprikhotliv {
    grid-area: neprikhotliv;
    aspect-ratio: 2/3;
}
.cats-grid__inner_napol {
    grid-area: napol;
    aspect-ratio: 1/2;
}
.cats-grid__inner_cvetush {
    grid-area: cvetush;
    aspect-ratio: 1/1;
}
.cats-grid__inner_succulent {
    grid-area: succulent;
    aspect-ratio: 2/1;
}
.cats-grid__inner_lianas {
    grid-area: lianas;
    aspect-ratio: 1/1;
}
.cats-grid__inner_petfriendly {
    grid-area: petfriendly;
    aspect-ratio: 1/1;
}
.cats-grid__inner_fikus {
    grid-area: fikus;
    aspect-ratio: 1/1;
}

.cats-grid__inner {
    /* border: solid 1px black; */
    /* min-height: 80px; */
    font-size: 0;
    position: relative;
    /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.cats-grid__img {
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
}

.cats-grid__title {
    font-size: 18px;
    font-weight: 700;
    max-width: 125px;
    line-height: 1.2;
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    color: var(--accent-color);
}

@media (max-width: 440px) {
    .cats-grid__title {
        font-size: 16px;
        top: 13px;
        left: 13px;
    }
}

/* categories sliders */

/* @media (max-width:767px) {
    .main__cats-wrap {
        display: none;
    }
} */

/* .main__cats-wrap .my_header__title {
    display: none;
} */

.main__cats-wrap .product-slider-wrap {
    margin: 40px 0 15px;
}

.main__cats-nav {
    display: flex;
    column-gap: 24px;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

@media(max-width:1279px) {
    .main__cats-nav {
        overflow-x: scroll;
        padding-bottom: 8px;
    }
}

.main__cats-nav-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: var(--gray-text);
    cursor: pointer;
    white-space: nowrap;
    min-width: max-content;
}

.main__cats-nav-title_active {
    color: var(--text);
}

/* .main__cats-slider {
    display: none;
}

.main__cats-slider_open {
    display: block;
} */

.main__cats-all {
    display: flex;
    align-items: center;
    justify-content: end;
    line-height: 1.2;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    margin-left: auto;
    color: var(--text);
    margin-top: 10px;
}
.main__cats-all:hover { text-decoration: none; }

.main__cats-all::before { 
    content: ""; 
    position: absolute; 
    display: block; 
    width: 0%; 
    height: 2px; 
    bottom: -3px; 
    left: 0; 
    background-color: var(--text); 
    transition: width 0.3s ease; 
}

.main__cats-all:hover::before { 
    width: 170px; 
}

.main__cats-all:after {
    content: "next";
    font-family: swiper-icons;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 3px;
}

/* promo section  */

.main__promo {
    display: flex;
    gap: 30px;
}

@media(max-width:767px) {
  .main__promo {
    flex-direction: column;
  }
}

.main__promo-card {
  max-height: 300px;
}

.main__promo-card img {
  max-height: 300px;
}

