/* first sreen styles */

/* banners */
.main__wrap {
    display: grid;
    grid-template-columns: 65% 35%;
    row-gap: 50px;
}

.main__wrap-colored-bg {
    background-color: #F5F5F6;
    padding: 20px 0;
}

.main__banners-wrap {
    margin-right: 20px;
    position: relative;
}

.main__banners {
    border-radius: 5px;
}

/* sale gallery */

.main__sale-gallery-wrap {
    max-height: 265px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
}

.main__sale-gallery .product {
	display: grid;
    grid-template-rows:  30px auto auto auto;
    grid-template-areas:
			"image sale"
			"image price"
            "image name"
			"image descr"
            "image button";
	grid-template-columns: 180px auto;
	column-gap: 10px;
    text-align: left;
    padding-right: 10px;
}

.main__sale-gallery .woocommerce-loop-product__link:first-of-type {
    grid-area: image;
    font-size: 0;
}

.main__sale-gallery .sale_badge {
    font-size: 14px;
    top: 0;
    bottom: auto;
    right: -107px;
    border-radius: 5px;
}

.main__sale-gallery .sale_badge-skidka {
    border-radius: 5px 0 0 5px;
}

.main__sale-gallery .add_to_cart_button, .main__sale-gallery .product_type_simple {
    grid-area: button;
    font-size: 12px;
    line-height: 14px;
    width: 175px;
    align-self: flex-end;
}

.main__sale-gallery .woocommerce-loop-product__link:last-of-type {
    grid-area: name;
}

.main__sale-gallery .woocommerce-loop-product__title {
    font-size: 16px;
    line-height: 18px;
}

.main__sale-gallery .woocommerce-product-details__short-description {
    grid-area: descr;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}

.main__sale-gallery .price {
    grid-area: price;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main__sale-gallery-title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--accent-color);
}

/* advantages */
.advantages {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2,auto);
    row-gap: 30px;
    column-gap: 30px;
    margin-right: 20px;
}

.advantages__wrap {
    row-gap: 15px;
    display: grid;
    grid-template: repeat(2, auto) / 70px auto;
    grid-template-areas: "photo title"
    "desrc desrc";
}

.advantages__title {
    grid-area: title;
    margin: auto 0 auto 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.advantages__image {
    grid-area: photo;
    width: 70px;
    height: 70px;
    margin: auto 10px auto 0;
}

.advantages__descr {
    grid-area: desrc;
    font-size: 16px;
    font-weight: 500;
}

.advantages_mob {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}
    
.advantages__wrap_mob {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: fit-content;
}

.advantages__title-wrap_mob {
    display: flex;
    align-items: center;
    background-color: var(--e-global-color-ce8c95e);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.advantages__image_mob {
    width: 50px;
    height: 50px;
    margin: auto 10px auto 0
}

.advantages__title_mob {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.advantages__descr_mob {
    min-width: 300px;	
    font-size: 14px;
    font-weight: 500;
    background-color: #F7F7F7;
    padding: 10px;
    min-height: 120px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.overflow_section {
    overflow-x: auto;
    width: fit-content;
}
