/*--------------------------------------------------------------
# Contacts
--------------------------------------------------------------*/

.contacts__wrap {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 30px;
    grid-template-areas: 
    "phones hours"
    "mail adress";
    line-height: 1.4;
}

.contacts__phones {
    grid-area: phones;
}
.contacts__mail {
    grid-area: mail;
}
.contacts__work-hours {
    grid-area: hours;
}
.contacts__adress {
    grid-area: adress;
}

.contacts__wrap .heading-2 {
    margin-bottom: 15px;
}

.contacts__social-media, .contacts__map {
    margin-top: 20px;
}

/*--------------------------------------------------------------
# Payment
--------------------------------------------------------------*/

.payment__wrap {
    margin-top: 30px;
}

.payment__wrap ul {
    list-style: disc;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payment__wrap li {
    padding-bottom: 5px;
}

.payment__wrap p {
    margin-bottom: 10px;
}


/*--------------------------------------------------------------
# Delivery
--------------------------------------------------------------*/

.delivery {
    display: flex;
    column-gap: 15px;
    row-gap: 30px;
}

.delivery__wrap {
    font-weight: 500;
}

@media (max-width: 767px) {
    .delivery {
        flex-direction: column;
    }
}

.delivery__heading {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--accent-color);
    line-height: 1.2;
}

.delivery__subheading {
    margin-bottom: 10px;
}

.delivery__wrap ul {
    margin-bottom: 20px;
    list-style: disc;
    margin-left: 30px;

}

.delivery__wrap ul li{
    line-height: 1.3;
    margin-bottom: 5px;
}

.delivery__wrap p {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.4;
}

.delivery__note {
    color: var(--red-color);
    font-weight: 700;
}

/*--------------------------------------------------------------
# Contacts Part
--------------------------------------------------------------*/

.contacts-part__wrap {
    display: flex;
    column-gap: 50px;
    align-items: center;
    margin: 30px 0;
    font-weight: 600;
}

.contacts-part__phones {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

/*--------------------------------------------------------------
# Info Pages
--------------------------------------------------------------*/

.entry-content {
    margin-top: 30px;
    max-width: 900px;
}
.entry-content p{
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 15px;
}