/* general popup styles */

.popup {
    display: none;
}

.popup_active{
    display: block;
    position: fixed;
    top: 0px;
    /* background: var(--background); */
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
}

.popup-overlay {
    background: transparent;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
}


.page-popup__wrap {
    position: relative;
}

.page-popup__container {
    position: absolute;
    top: 0;
    background: var(--background);
    padding: 40px 50px;
    left: 0;
    right: var(--scrollWidth);
    /* right: 0; */
    max-width: 1300px;
    margin: auto;
    border-radius: 40px;
    height: var(--vh);
    overflow-y: auto;
}

.page-popup__form .wpcf7-form input {
    margin-top: 20px;
    border-radius: 40px;
    padding: 10px;
}

.page-popup__form .wpcf7-form input:focus, .page-popup__form .wpcf7-form input:focus-visible {
    border: 1px solid #777e90;
}

.page-popup__form .wpcf7-form textarea {
    margin-top: 10px;
    border-radius: 30px;
    padding: 18px;
    height: 55px;
}

.page-popup__form .wpcf7-form textarea:focus {
    border: 1px solid #777e90;
}

.page-popup__form .wpcf7-spinner {
   display: none;
}

/* стили для скролла scroll */
.page-popup__container::-webkit-scrollbar-track
{
	display: none;
}

.page-popup__container::-webkit-scrollbar
{
    display: none;
}

.page-popup__container::-webkit-scrollbar-thumb
{
    display: none;
}

/* preorder & price list popup */

.preorder-popup .page-popup__container {
    max-width: 700px;
}

@media (max-width: 1300px) {
    .page-popup__container {
        right: 0;
    }
}

@media (max-width: 767px) {
    .page-popup__container {
        top: 0;
        padding: 25px 15px;
        max-width: 1300px;
        margin: auto;
        border-radius: 0;
    }
}

.page-popup__heading {
    display: inline;
    color: var(--accent-color);
}

.page-popup__close {
    position: absolute;
    top: -0;
    right: -0;
}

@media (max-width: 767px) {
    .page-popup__close {
        top: 0;
        right: 0;
    }
}

.page-popup__close:hover {
    cursor: pointer;
}

.page-popup__form {
    /* margin: 30px 0; */
    margin-top: 30px;
}

@media (max-width: 767px) {
    .page-popup__form {
        /* margin: 20px 0; */
        margin-top: 20px;
    }
}

.page-popup__link {
    text-decoration: underline;
}

.page-popup__link:hover {
    text-decoration: none;
    cursor: pointer;
}

.page-popup__text {
    font-size: 14px;
}

/* contact form 7 */

.wpcf7-form p {
    padding-bottom: 15px;
}

.wpcf7-form input {
    width: 100%;
}

.wpcf7-form textarea {
    max-height: 100px;
}

.wpcf7-submit {
    background-color: var(--accent-color);
    color: var(--white);
    border-color: var(--accent-color);
}

/* search and search popup styles */

.header__main .search {
    background: var(--background);
    visibility: hidden;
    opacity: 0;
    width: 800px;
    transition: all 0.5s ease-in-out;
}

.header__main .search_open {
    opacity: 1;
    visibility: visible;
}

@media (max-width:1279px) {
    .header__main .search {
        top: 55px;
    }
}

.search-field {
  width: 0;
  padding: 5px 20px !important;
  border-radius: 40px !important;
  transition: all 0.5s ease-in-out;
}
.search_open .search-field {
  width: 100%;
  box-sizing: border-box;
}

input[type="search"], input[type="search"]:focus-visible {
    outline: none;
}

.search-result {
    display: flex;
    flex-direction: column;

    max-height: 80vh;
    width: 800px;
    
    position: absolute;
    top: calc(var(--headerHeight) - 44px); /*44 высота зеленого меню header__main-menu-wrap*/
    left: calc(50% + 16px);
    transform: translateX(-50%);
    z-index: 2;
    
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--background);
}

.serach-result__wrap {
    max-height: calc(80vh - 55px);
    overflow-y: scroll;
    margin: 10px;
}

/* .search-form {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 35px); 
}

input[type="search"], input[type="search"]:focus-visible {
    border: none;
    outline: none;
}

.search-submit {
    display: none;
}

.search__wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
  
.search__close {
    margin-top: auto;
    margin-bottom: auto;
}

.search__close:hover {
    cursor:pointer;
}

.search-field {
    width: calc(100vw - 45px);
    max-width: calc(1300px - 45px);
}

.search-result {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
}

@media (max-width:767px) {
    .search-result {
        max-height: 50vh;
    }
} */

/* стили для скролла scroll */
 /* start custom scroll */
.search-result::-webkit-scrollbar {
	width: 4px;
}

.search-result::-webkit-scrollbar-track {
    background: transparent;  /* Скрыть трек */
}

.search-result::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3); /* бледный по умолчанию */
    border-radius: 4px;
    transition: background-color 0.2s ease;  
}

.search-result:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.7); /* ярче при скролле */
}

.search-result::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

/* end custom scroll */

.search-result__text {
    margin-top: 10px;
}

.search-result__btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white);
    margin: 10px;
}

.search-result__item {
    position: relative;
}

.search-result__item:first-child {
    padding-top: 20px;
}

.search-result__item:last-of-type {
    padding-bottom: 40px;
}

.search-result__link {
    display: flex;
    column-gap: 20px;
    padding: 10px;
    align-items: center;
}

.search-result__link:hover {
    text-decoration: none;
    background-color: var(--gray);
}

.search-result__title {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

@media (max-width:767px) {
  .search-result__title  {
      font-size: 16px;
    }
}

.search-result__descr {
    font-weight: 600;
    font-size: 16px;
    /* margin-bottom: 15px; */
    display: block;
}

.search-result__reg-price {
    font-size: 20px;
    font-weight: 400;
    color: red;
    text-decoration: line-through;
    margin-right: 10px;
}

.search-result__price {
    font-size: 20px;
    font-weight: 400;
}

.search-result__item img {
    object-fit: contain;
    height: 60px;
}

.search-result__info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* align-items: center; */
}

/* service-popup */
.service-popup .page-popup__container {
    max-width: 700px;
}

.service-popup-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* .service-popup-list .wpcf7-list-item{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  width: fit-content;
}

.service-popup-list input {
  width: fit-content;
  margin-right: 5px;
} */

/* buy one click popup */

.buy-one-click-popup .page-popup__container {
    max-width: 700px;
}

.buy-one-click-popup .dontcallme-wrap {
    display: flex;
}
.buy-one-click-popup #dontcallme {
    display: flex;
}

.buy-one-click-popup__message {
    line-height: 1.3;
}

/* buy one click popup radio button */

/* для элемента input c type="radio" */
.buy-one-click-popup input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: fit-content;
  }

  /* для элемента span связанного с .buy-one-click-popup input[type=radio] */
  .buy-one-click-popup input[type=radio]+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  
  /* создание в span псевдоэлемента  before со следующими стилями */
  .buy-one-click-popup input[type=radio]+span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .buy-one-click-popup input[type=radio]:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .buy-one-click-popup input[type=radio]:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .buy-one-click-popup input[type=radio]:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .buy-one-click-popup input[type=radio]:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .buy-one-click-popup input[type=radio]:checked+span::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .buy-one-click-popup input[type=radio]:disabled+span::before {
    background-color: #e9ecef;
  }

.payment_method_tbank img {
    display: none;
}