/* general popup styles */

.popup {
    display: none;
}

.popup_active{
    display: block;
    position: fixed;
    top: 0px;
    /* background: var(--background); */
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
}

.popup-overlay {
    background: transparent;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
}


.page-popup__wrap {
    position: relative;
}

.page-popup__container {
    position: absolute;
    top: 0;
    background: var(--background);
    padding: 40px 50px;
    left: 0;
    /* right: var(--scrollWidth); */
    right: 0;
    max-width: 1300px;
    margin: auto;
    border-radius: 40px;
    height: var(--vh);
    overflow-y: auto;
}

.page-popup__form .wpcf7-form input {
    margin-top: 20px;
    border-radius: 40px;
    padding: 10px;
}

.page-popup__form .wpcf7-form input:focus, .page-popup__form .wpcf7-form input:focus-visible {
    border: 1px solid #777e90;
}

.page-popup__form .wpcf7-form textarea {
    margin-top: 10px;
    border-radius: 30px;
    padding: 18px;
    height: 55px;
}

.page-popup__form .wpcf7-form textarea:focus {
    border: 1px solid #777e90;
}

.page-popup__form .wpcf7-spinner {
   display: none;
}

/* doncall me */

.page-popup .wpcf7-list-item {
    margin: 0;
}

.page-popup #dontcallme {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.preloader.active {
    opacity: 1;
    visibility: visible;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* стили для скролла scroll */
.page-popup__container::-webkit-scrollbar-track
{
	display: none;
}

.page-popup__container::-webkit-scrollbar
{
    display: none;
}

.page-popup__container::-webkit-scrollbar-thumb
{
    display: none;
}

/* preorder & price list popup */

.preorder-popup .page-popup__container {
    max-width: 700px;
}

.page-popup__container_giftcard {
  z-index: 99990;
  top: -60px;
  border-radius: 30px;
}

@media (max-width: 1300px) {
    .page-popup__container {
        right: 0;
    }
}

@media (max-width: 767px) {
    .page-popup__container {
        top: 0;
        padding: 25px 15px;
        max-width: 1300px;
        margin: auto;
        border-radius: 0;
    }
}

.page-popup__heading {
    display: inline;
    color: var(--accent-color);
}

.page-popup__close {
    position: absolute;
    top: -0;
    right: -0;
}

.page-popup__container_giftcard .page-popup__close {
    top: 30px;
    right: 30px;
}

@media (max-width: 767px) {
    .page-popup__close {
        top: 0;
        right: 0;
    }
}

.page-popup__close:hover {
    cursor: pointer;
}

.page-popup__form {
    /* margin: 30px 0; */
    margin-top: 30px;
}

@media (max-width: 767px) {
    .page-popup__form {
        /* margin: 20px 0; */
        margin-top: 20px;
    }
}

.page-popup__link {
    text-decoration: underline;
}

.page-popup__link:hover {
    text-decoration: none;
    cursor: pointer;
}

.page-popup__text {
    font-size: 14px;
}

/*popup radio button */

/* для элемента input c type="radio" */
.page-popup input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: fit-content;
  }

  /* для элемента span связанного с .page-popup input[type=radio] */
  .page-popup input[type=radio]+span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  
  /* создание в span псевдоэлемента  before со следующими стилями */
  .page-popup input[type=radio]+span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .page-popup input[type=radio]:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .page-popup input[type=radio]:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .page-popup input[type=radio]:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .page-popup input[type=radio]:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .page-popup input[type=radio]:checked+span::before {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .page-popup input[type=radio]:disabled+span::before {
    background-color: #e9ecef;
  }

/* contact form 7 */

.wpcf7-form p {
    padding-bottom: 15px;
}

.wpcf7-form input {
    width: 100%;
}

.wpcf7-form textarea {
    max-height: 100px;
}

.wpcf7-submit {
    background-color: var(--accent-color);
    color: var(--white);
    border-color: var(--accent-color);
}

/* service-popup */
.service-popup .page-popup__container {
    max-width: 700px;
}

.service-popup-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* .service-popup-list .wpcf7-list-item{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  width: fit-content;
}

.service-popup-list input {
  width: fit-content;
  margin-right: 5px;
} */

/* buy one click popup */

.buy-one-click-popup .page-popup__container {
    max-width: 700px;
}

.buy-one-click-popup__message {
    line-height: 1.3;
}

/* gift-card-popup - не используется*/

.gift-card-popup .page-popup__container {
  border-radius: 0;
}

.gc-balance-popup__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--background);
  padding: 40px 50px;
  left: 0;
  /* right: var(--scrollWidth); */
  right: 0;
  max-width: 660px;
  margin: auto;
  border-radius: 40px;
  height: 500px;
  overflow-y: auto;
}

.gc-balance-popup__close {
  position: absolute;
  top: 0;
  right: 0;
}

.form-check-gift-card-balance {
  margin-top: 30px;
}

.ywgc-shortcode-form-title {
  display: none;
}