/* general popup styles */

.popup {
    display: none;
}

.popup_active{
    display: block;
    position: fixed;
    top: 0px;
    /* background: var(--background); */
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0,0,0,0.3);
}

.popup-overlay {
    background: transparent;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

/* preorder & price list popup */

.page-popup__wrap {
    position: relative;
}

.page-popup__container {
    position: absolute;
    top: 100px;
    background: var(--background);
    padding: 50px;
    left: 0;
    right: var(--scrollWidth);
    /* right: 0; */
    max-width: 1300px;
    margin: auto;
}

.preorder-popup .page-popup__container {
    max-width: 700px;
}

@media (max-width: 1300px) {
    .page-popup__container {
        right: 0;
    }
}

@media (max-width: 767px) {
    .page-popup__container {
        top: 100px;
        padding: 15px;
        max-width: 1300px;
        margin: auto;
    }
}

.page-popup__heading {
    display: inline;
    color: var(--accent-color);
}

.page-popup__close {
    position: absolute;
    top: -30px;
    right: -30px;
}

@media (max-width: 767px) {
    .page-popup__close {
        top: 0;
        right: 0;
    }
}

.page-popup__close:hover {
    cursor: pointer;
}

.page-popup__form {
    /* margin: 30px 0; */
    margin-top: 30px;
}

@media (max-width: 767px) {
    .page-popup__form {
        /* margin: 20px 0; */
        margin-top: 20px;
    }
}

.page-popup__link {
    text-decoration: underline;
}

.page-popup__link:hover {
    text-decoration: none;
    cursor: pointer;
}

.page-popup__text {
    font-size: 14px;
}

/* contact form 7 */

.wpcf7-form p {
    padding-bottom: 15px;
}

.wpcf7-form input {
    width: 100%;
}

.wpcf7-form textarea {
    max-height: 100px;
}

.wpcf7-submit {
    background-color: var(--accent-color);
    color: var(--white);
    border-color: var(--accent-color);
}

/* search and search popup styles */

.search-popup .search {
    padding: 10px 0;
    background: var(--background);
    position: absolute;
    top: 108px;
    width: 100%;
}

@media (max-width:1279px) {
    .search-popup .search {
        top: 55px;
    }
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 35px); /*ширина close button и column gap*/
}

input[type="search"], input[type="search"]:focus-visible {
    border: none;
    outline: none;
}

.search-submit {
    display: none;
}

.search__wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
  
.search__close {
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
}

.search__close:hover {
    cursor:pointer;
}

.search-field {
    width: calc(100vw - 45px);
    max-width: calc(1300px - 45px);
}

.search-result {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
}

@media (max-width:767px) {
    .search-result {
        max-height: 50vh;
    }
}

/* стили для скролла scroll */
.search-result::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.search-result::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.search-result::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #919191;
}



.search-result__text {
    margin-top: 10px;
}

.search-result__btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--white);
    position: sticky;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

.search-result__item {
    position: relative;
}

.search-result__item:first-child {
    padding-top: 20px;
}

.search-result__item:last-of-type {
    padding-bottom: 40px;
}

.search-result__link {
    display: flex;
    column-gap: 20px;
    padding: 10px;
}

.search-result__link:hover {
    text-decoration: none;
    background-color: #F7F8FB;
}

.search-result__title {
    font-size: 20px;
    font-weight: 700;
    display: block;
}

.search-result__descr {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
}

.search-result__reg-price {
    font-size: 20px;
    font-weight: 400;
    color: red;
    text-decoration: line-through;
    margin-right: 10px;
}

.search-result__price {
    font-size: 30px;
    font-weight: 400;
}

/* ukhod-popup */
.ukhod-popup .page-popup__container {
    max-width: 700px;
}

.ukhod-popup-list {
  display: flex;
  flex-direction: column;
}