.yith-wcwl-form .woocommerce-error {
    display: none;
}

/*--------------------------------------------------------------
# Desktop
--------------------------------------------------------------*/

.wishlist_table {
    margin-top: 30px;
}

.woocommerce table.shop_table.wishlist_table tr td {
    color: var(--text) !important;
}
.wishlist-items-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    word-break: break-word;
    min-width: 12vw;
    column-gap: 16px;
    row-gap: 35px;
    margin-bottom: 50px;
}

.wishlist-items-wrapper tr{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 32px);
    justify-content: space-between;
    row-gap: 0;
    position: relative;
}

.wishlist-items-wrapper .stock-status {
    position: absolute;
    top: 2px;
    left: -0;
}

.wishlist-title-container {
    display: none;
}

.woocommerce .wishlist-title h2 {
    padding: 0;
}

.wishlist_table thead {
    display: none;
}

.wishlist_table tr th.product-thumbnail {
    width: 100% !important;
}
.wishlist_table tr .product-thumbnail {
    border-radius: 40px;
    overflow: hidden;
}

.wishlist_table tbody td {
    padding: 0 !important;
}

.wishlist_table tr td.product-thumbnail a {
    max-width: 100% !important;
    font-size: 0;
}

table.wishlist_table tbody td.product-remove {
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 10px;
    align-self: end;
    position: absolute;
    right: 24px;
    top: 8px;
}

table.wishlist_table tbody td.product-remove a:hover, table.wishlist_table tbody td.product-remove a:focus, table.wishlist_table tbody td.product-remove a:active{
    text-decoration: none;
}

table.wishlist_table tbody td.product-name {
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5px;
    margin-top: 10px;
}

table.wishlist_table tbody td.product-price {
    padding: 0;
    text-align: left;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 700;
}

table.wishlist_table tbody td.product-price del{
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}

table.wishlist_table tbody td.product-price ins{
    color: var(--red-color);
}

table.wishlist_table tbody td.product-add-to-cart {
    margin-top: 15px;
}

.wishlist_table .product-add-to-cart a.button {
    border-collapse: separate;
}

.yith_wcwl_wishlist_footer .yith_wcwl_footer_additional_action>* {
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--accent-color);
    color: var(--white);
    border-color: var(--accent-color);
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 12px;
}
/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/
.wishlist_table.mobile li {
    margin-bottom: 35px !important;
}

.wishlist_table.mobile li .item-wrapper {
    max-width: 100% !important;
    width: 100% !important;
    position: relative;
    margin-bottom: 7px;
}

.wishlist_table.mobile li .item-wrapper .product-remove{
    text-align: right;
    font-size: 25px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.wishlist_table.mobile li .item-wrapper .product-remove a i{
    font-style: normal;
}

.wishlist_table.mobile li .item-details {
    max-width: 100% !important;
    margin-top: 15px;
}

.wishlist_table.mobile li .product-thumbnail {
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0 !important;
    border-radius: 40px;
    overflow: hidden;
}

.wishlist_table.mobile li .product-thumbnail img {
    width: 100% !important;
}

.wishlist_table.mobile li .item-details table.item-details-table td.value {
    text-align: left !important;
    font-size: 25px;
    font-weight: 700;
}

.wishlist_table.mobile li .item-details table.item-details-table td.value del{
    font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}

.wishlist_table.mobile li .item-details table.item-details-table td.value ins{
    color: var(--red-color);
}



.wishlist_table.mobile .product-name h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 7px;
}

.wishlist_table.mobile .item-details-table {
  border: none;
  margin-bottom: 7px;
}

.yith_wcwl_wishlist_footer .wishlist-actions>* {
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--accent-color);
    color: var(--white);
    border-color: var(--accent-color);
    text-transform: uppercase;
    width: 100%;
}

/*--------------------------------------------------------------
# Share section
--------------------------------------------------------------*/

.yith-wcwl-share {
    width: 100%;
    max-width: 420px;
    margin-bottom: 50px !important;
}

.yith-wcwl-share a {
    border-radius: 5px;
}

.yith-wcwl-share a.telegram {
    background-color: var(--telegram);
}

.yith-wcwl-after-share-section input {
    width: 100%;
}

.yith-wcwl-share a.telegram:hover {
    background: #595A5A;
    background-color: #595A5A;
}