/* advantages */
.advantages {
    grid-column: span 2;
    /* display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto); */
    display: flex;
    row-gap: 10px;
    column-gap: 20px;
    padding: 25px;
    background-color: var(--gray);
    border-radius: var(--border-rad);
    /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); */
    /* align-items: center; */
}

.advantages__wrap {
    max-width: 297px;
    min-width: 200px;
    row-gap: 15px;
    display: grid;
    grid-template: 40px auto / 40px auto;
    grid-template-areas: "photo title"
    "desrc desrc";
}

.advantages__title {
    grid-area: title;
    margin: auto 0 auto 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.advantages__image {
    grid-area: photo;
    width: 40px;
    height: 40px;
    margin: auto 10px auto 0;
}

.advantages__descr {
    grid-area: desrc;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
}

.advantages_mob {
    display: flex;
    flex-wrap: nowrap;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}
    
.advantages__wrap_mob {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: fit-content;
}

.advantages__title-wrap_mob {
    display: flex;
    align-items: center;
    background-color: var(--e-global-color-ce8c95e);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.advantages__image_mob {
    width: 50px;
    height: 50px;
    margin: auto 10px auto 0
}

.advantages__title_mob {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.advantages__descr_mob {
    min-width: 300px;	
    font-size: 14px;
    font-weight: 500;
    background-color: #F7F7F7;
    padding: 10px;
    min-height: 120px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* advantages  #adaptive*/

@media (max-width:1024px) {
    .advantages {
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(2, 300px);
        margin: 0;
        row-gap: 20px;
        justify-content: center;
        background-color: none;
        padding: 0;
    }
    .advantages__wrap {
        max-width: 350px;
        min-width: 0;
        margin: auto;
        grid-template-columns: 50px auto;
        grid-template-rows: 50px auto;
        row-gap: 10px;
        min-width: 300px;
        background-color: var(--gray);
        padding: 10px;
        min-height: 120px;
        border-radius: 10px;
        /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); */
    }
  
  }

@media (max-width:690px) {
    .advantages {
        display: flex;
        flex-direction: column;
        /* overflow-y: scroll; */
        /* padding-bottom: 10px; */
        margin: 0;
        row-gap: 20px;
    }

    /* .advantages__wrap {
        max-width: 350px;
        min-width: 0;
        margin: auto;
        grid-template-columns: 50px auto;
        grid-template-rows: 50px auto;
        row-gap: 10px;
        min-width: 300px;
        background-color: var(--gray);
        padding: 10px;
        min-height: 120px;
        border-radius: 10px;
    } */

    .advantages__title {
        font-size: 16px;
        /* margin: 0; */
        align-self: center;
    }

    .advantages__descr {
        font-size: 14px;
    }

    .advantages__image {
        width: 50px;
        height: 50px;
        /* margin: 0; */
    }
}
